footer
    .callback-form_wrap(data-aos="clipRight" data-aos-duration="1250" data-aos-once="true" data-aos-offset="-50")
       .callback-form_title Связаться с нами
       form.callback-form(action="")
           .callback-form_input-wrap
               input.callback-form_input(name="clientPhone" placeholder="Телефон")
               button(type="submit")
                   img.svg(src="/images/icons/send.svg")
    .container(data-aos="fromOpacity" data-aos-duration="1250" data-aos-once="true" data-aos-delay="200" data-aos-offset="-50")
        .footer-content
            .footer-content_head
                img.svg.footer-logo(src="/images/logo2.svg")
                .footer-nav
                    a.footer-link(href="") О компании
                    a.footer-link(href="") Услуги
                    a.footer-link(href="") Контакты
            .footer-snetworks
                a.footer-snetwork(href="")
                    img.svg(src="/images/icons/facebook.svg")
                a.footer-snetwork(href="")
                    img.svg(src="/images/icons/instagram.svg")
        .footer-bottom
            .footer-text merais-group.com © 2013-2020
            .footer-text
                span Made with love by
                a(href="") MantiCore Development