header.header.other-page
    .container
        a.header-logo_wrap(href="/")
            img.svg.header-logo(src="/images/logo2.svg")
            img.svg.header-logo2(src="/images/logo1.svg")
        a.header-phone(href="tel: +38096123456")
            span +380 (096) 123 45 67
            img.svg(src="/images/icons/phone.svg")
        button.header-btn(type="button") Связаться с нами
        .language-toggler
            .selected-language UA
            .language-menu
                span.active UA
                span RU
                span EN