.aside-menu
    .menu-nav_wrapper(data-aos="offsetDown" data-aos-delay="150" data-aos-duration="1250" data-aos-once="true")
        img.svg.aside-menu_logo(src="/images/logo1.svg")
        .language-toggler
            .selected-language UA
            img.svg.language-arrow(src="/images/icons/arrow3.svg")
            .language-menu
                span.active UA
                span RU
                span EN
        .menu-nav_menu-toggle
            img.svg(src="/images/icons/menu.svg")
            span Меню
        .menu-nav_snetworks
            a.menu-nav_snetwork(href="" target="_blank") Facebook
            a.menu-nav_snetwork(href="" target="_blank") Instagram
    .menu-content
        img.svg.menu-logo(src="/images/logo1.svg")
        .menu-items
            a.menu_item.menu_item-services(href="services.html")
                span Услуги
                img.menu-hoisting_photo(src="/images/hoisting-photo.png")
            a.menu_item.menu_item-service(href="service.html")
                span Контейнерные перевозки
                img.menu-hoisting_photo(src="/images/hoisting-photo.png")
            a.menu_item(href="")
                span Таможенное оформление
                img.menu-hoisting_photo(src="/images/hoisting-photo.png")
            a.menu_item(href="")
                span Наземные перевозки (ЖД/авто)
                img.menu-hoisting_photo(src="/images/hoisting-photo.png")
            a.menu_item(href="")
                span Негабариты
                img.menu-hoisting_photo(src="/images/hoisting-photo.png")
            a.menu_item(href="")
                span Консалтинговые услуги
                img.menu-hoisting_photo(src="/images/hoisting-photo.png")
            a.menu_item(href="")
                span Доставка малых партий
                img.menu-hoisting_photo(src="/images/hoisting-photo.png")
        .menu2-items
            a.menu_item2.menu_item2-about(href="about.html") О компании
            a.menu_item2.menu_item2-contacts(href="contacts.html") Контакты
        .menu-contacts
            a.header-phone(href="tel: +38096123456")
                span +380 (096) 123 45 67
            .menu-nav_snetworks
                a.menu-nav_snetwork(href="" target="_blank") Facebook
                a.menu-nav_snetwork(href="" target="_blank") Instagram
            button.header-btn(type="button") Связаться с нами
