/** SPACES */
.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-50 {
  margin: 50px;
}

.m-55 {
  margin: 55px;
}

.m-60 {
  margin: 60px;
}

.m-65 {
  margin: 65px;
}

.m-70 {
  margin: 70px;
}

.m-75 {
  margin: 75px;
}

.m-80 {
  margin: 80px;
}

.m-85 {
  margin: 85px;
}

.m-90 {
  margin: 90px;
}

.m-95 {
  margin: 95px;
}

.m-100 {
  margin: 100px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

.p-55 {
  padding: 55px;
}

.p-60 {
  padding: 60px;
}

.p-65 {
  padding: 65px;
}

.p-70 {
  padding: 70px;
}

.p-75 {
  padding: 75px;
}

.p-80 {
  padding: 80px;
}

.p-85 {
  padding: 85px;
}

.p-90 {
  padding: 90px;
}

.p-95 {
  padding: 95px;
}

.p-100 {
  padding: 100px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

/** END SPACES */
@font-face {
  font-family: "Pragmatica Bold";
  src: local("Pragmatica Extended Bold"), local("Pragmatica-Extended-Bold"), url("/fonts/PragmaticaExtended-Bold/PragmaticaExtended-Bold.woff2") format("woff2"), url("/fonts/PragmaticaExtended-Bold/PragmaticaExtended-Bold.woff") format("woff"), url("/fonts/PragmaticaExtended-Bold/PragmaticaExtended-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Medium";
  src: local("Pragmatica Medium"), local("Pragmatica-Medium"), url("/fonts/Pragmatica-Medium/Pragmatica-Medium.woff2") format("woff2"), url("/fonts/Pragmatica-Medium/Pragmatica-Medium.woff") format("woff"), url("/fonts/Pragmatica-Medium/Pragmatica-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Light";
  src: local("Pragmatica Light"), local("Pragmatica-Light"), url("/fonts/Pragmatica-Light/Pragmatica-Light.woff2") format("woff2"), url("/fonts/Pragmatica-Light/Pragmatica-Light.woff") format("woff"), url("/fonts/Pragmatica-Light/Pragmatica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Light Ex";
  src: local("Pragmatica Extended Light"), local("Pragmatica-Extended-Light"), url("/fonts/PragmaticaExtended-Light/PragmaticaExtended-Light.woff2") format("woff2"), url("/fonts/PragmaticaExtended-Light/PragmaticaExtended-Light.woff") format("woff"), url("/fonts/PragmaticaExtended-Light/PragmaticaExtended-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Medium Ex";
  src: local("Pragmatica Extended Book"), local("Pragmatica-Extended-Book"), url("/fonts/PragmaticaExtended-Book/PragmaticaExtended-Book.woff2") format("woff2"), url("/fonts/PragmaticaExtended-Book/PragmaticaExtended-Book.woff") format("woff"), url("/fonts/PragmaticaExtended-Book/PragmaticaExtended-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
[data-aos=clipDown] {
  clip-path: inset(0 0 100% 0);
  transition-property: clip-path;
  transition-timing-function: cubic-bezier(0.81, 0, 0.3, 1);
}
[data-aos=clipDown].aos-animate {
  clip-path: inset(0 0 0 0);
}

[data-aos=clipTop] {
  transform: translateY(100%);
  transition-timing-function: cubic-bezier(0.81, 0, 0.3, 1);
}
[data-aos=clipTop].aos-animate {
  transform: translateY(0);
}

[data-aos=clipRight] {
  clip-path: inset(0 100% 0 0);
  transition-property: clip-path;
  transition-timing-function: cubic-bezier(0.81, 0, 0.3, 1);
}
[data-aos=clipRight].aos-animate {
  clip-path: inset(0 0 0 0);
}

[data-aos=clipLeft] {
  clip-path: inset(0 0 0 100%);
  transition-property: clip-path;
  transition-timing-function: cubic-bezier(0.81, 0, 0.3, 1);
}
[data-aos=clipLeft].aos-animate {
  clip-path: inset(0 0 0 0);
}

[data-aos=offsetHeader] {
  transform: translateY(-145px);
  transition-timing-function: cubic-bezier(0.81, 0, 0.3, 1);
  transition-property: transform;
}
[data-aos=offsetHeader].aos-animate {
  transform: translateY(0);
}

@keyframes offsetHeader {
  0% {
    transform: translateY(-145px);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
[data-aos=offsetDown] {
  transform: translateY(-40px);
  transition-timing-function: cubic-bezier(0.81, 0, 0.3, 1);
}
[data-aos=offsetDown].aos-animate {
  transform: translateY(0);
}

[data-aos=offsetRight] {
  transform: translateX(-40px);
  opacity: 0;
  transition-timing-function: cubic-bezier(0.81, 0, 0.3, 1);
}
[data-aos=offsetRight].aos-animate {
  opacity: 1;
  transform: translateX(0);
}

[data-aos=offsetTop] {
  transform: translateY(40px);
  opacity: 0;
  transition-timing-function: cubic-bezier(0.81, 0, 0.3, 1);
}
[data-aos=offsetTop].aos-animate {
  opacity: 1;
  transform: translateY(0);
}

@keyframes offsetTop {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
[data-aos=fromOpacity] {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.81, 0, 0.3, 1);
}
[data-aos=fromOpacity].aos-animate {
  opacity: 1;
}

@keyframes clipDown {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
.about-section_slide, .main-page_slide {
  opacity: 0;
  position: absolute !important;
  top: 0;
  left: 0 !important;
  right: 0;
  bottom: 0;
  width: 100% !important;
}
.about-section_slide.prev-slide, .main-page_slide.prev-slide {
  clip-path: circle(0% at 100% 0);
}
.about-section_slide.next-slide, .main-page_slide.next-slide {
  clip-path: circle(0% at 0 0);
}
.about-section_slide.active-slide, .main-page_slide.active-slide {
  clip-path: circle(140%);
  transition: clip-path 1s cubic-bezier(0.81, 0, 0.3, 1);
}
.about-section_slide.slick-active, .main-page_slide.slick-active {
  opacity: 1 !important;
  z-index: 200000 !important;
}

.main-page_slide.active-slide {
  transition: clip-path 1.5s cubic-bezier(0.81, 0, 0.3, 1) !important;
}

.slick-track {
  position: relative;
  width: 100% !important;
  transform: unset !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #292929;
}

button, button:focus {
  background: unset;
  border: unset;
  outline: unset;
  -webkit-appearance: none;
}

* {
  border: unset;
  outline: unset;
}

body {
  min-width: 375px;
  font-family: "Pragmatica Light", sans-serif;
  color: #292929;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

html, body {
  background-color: #f9f9f9;
}
html.active, body.active {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

main {
  background-color: #f6f6f5;
  margin-left: 100px;
  width: calc(100% - 100px);
}
@media screen and (max-width: 768px) {
  main {
    margin-left: 0;
    width: 100%;
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding: 0;
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  background-color: unset;
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.7s;
  pointer-events: none;
  z-index: 91;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.backdrop.active {
  opacity: 1;
  visibility: visible;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.7s;
  pointer-events: all;
}

.slick-slider, .slick-list, .slick-track {
  height: 100%;
}

.page-path_wrap {
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  margin-bottom: 45px;
}
.page-path_wrap .container {
  padding: 0 !important;
}
.page-path_wrap span {
  margin: 0 15px;
  color: #b5b5b5;
}
@media screen and (max-width: 768px) {
  .page-path_wrap {
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.path-current_page {
  color: #b5b5b5;
}

.services-section_title, .information-title, .service-section_title, .about-skill_title, .another-services_title, .contacts-title {
  overflow: hidden;
  line-height: 1.3 !important;
}

.common-btn {
  width: 214px;
  height: 54px;
  font-family: "Pragmatica Medium", sans-serif;
  font-size: 16px;
  color: #fff;
  background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%) !important;
  border-radius: 27px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .common-btn:before {
    content: "";
    width: 214px;
    height: 54px;
    border-radius: 27px;
    background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  }
  .common-btn:hover:before {
    transform: translate(-8px, 8px);
    transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  }
}

.language-toggler {
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  position: relative;
}

.aside-menu .language-toggler {
  display: none;
}
@media screen and (max-width: 768px) {
  .aside-menu .language-toggler {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: auto;
  }
}

.selected-language {
  color: #fff;
  cursor: pointer;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  -webkit-text-fill-color: #fff;
}
@media screen and (max-width: 768px) {
  .selected-language {
    -webkit-text-fill-color: #292929;
    margin-right: 8px;
  }
}
.selected-language:hover {
  background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #0065f2;
  -webkit-text-fill-color: transparent;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}

.language-menu {
  position: absolute;
  top: 0;
  flex-direction: column;
  padding: 19px 16px;
  background-color: #fff;
  transform: translate(-16px, -19px);
  display: none;
}
.language-menu.active {
  display: flex;
}
.language-menu .language-item {
  cursor: pointer;
  padding: 15px 0;
}
.language-menu .language-item.active {
  background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  background-clip: text;
  color: #0065f2;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.language-menu .language-item:first-child {
  padding-top: 0;
}
.language-menu .language-item:last-child {
  padding-bottom: 0;
}

.services-section {
  padding-top: 120px;
}
@media screen and (max-width: 768px) {
  .services-section {
    padding-top: 20px;
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 768px) {
  .services-section .container {
    padding: 0 15px !important;
  }
}

.services-section_title {
  text-align: center;
  margin-bottom: 45px;
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  .services-section_title {
    margin-bottom: 0px;
    font-size: 24px;
  }
}

.services-wrap {
  margin: 0;
}

.animated .service:nth-child(1):before, .animated .service:nth-child(2):before {
  opacity: 1;
  transition: opacity 0.6s 1.2s;
}
.animated .service:nth-child(4):before, .animated .service:nth-child(5):before {
  opacity: 1;
  transition: opacity 0.6s 1.2s;
}
.animated .service:nth-child(3):after, .animated .service:nth-child(2):after, .animated .service:nth-child(1):after {
  opacity: 1;
  transition: opacity 0.6s 1s;
}

.service {
  padding: 40px;
  position: relative;
}
.service:nth-child(1):before, .service:nth-child(2):before, .service:nth-child(4):before, .service:nth-child(5):before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.service:nth-child(3):after, .service:nth-child(2):after, .service:nth-child(1):after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .service {
    padding: 40px 0px 33px;
    border-bottom: 1px solid #e0e0e0 !important;
    border-right: unset;
  }
  .service:after, .service:before {
    display: none;
  }
  .service:first-child {
    padding-top: 30px;
  }
  .service:last-child {
    border-bottom: unset !important;
  }
}

.service-number {
  position: absolute;
  right: 40px;
  top: 40px;
  color: #c2c2c2;
  font-family: "Pragmatica Light Ex", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .service-number {
    font-size: 14px;
    right: 0;
    top: 45px;
  }
}

.service-icon {
  margin-bottom: 30px;
  height: 48px;
  width: auto;
}
@media screen and (max-width: 768px) {
  .service-icon {
    height: 32px;
    margin-bottom: 33px;
  }
}

.service-content {
  margin-bottom: 15px;
}

.service-title {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .service-title {
    font-size: 16px;
  }
}

.service-description {
  font-family: "Pragmatica Light", sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .service-description {
    line-height: 20px;
  }
}

.service_link {
  line-height: 26px;
}
.service_link span {
  font-size: 16px !important;
  margin-right: 10px !important;
}
.service_link img, .service_link svg {
  width: 7px;
  height: 15px;
}
@media screen and (max-width: 768px) {
  .service_link span {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

.about-section_slider-wrap {
  border-radius: 16px;
  overflow: hidden;
  max-height: 740px;
  position: relative;
  height: 48vw;
}
@media screen and (max-width: 768px) {
  .about-section_slider-wrap {
    border-radius: 8px;
  }
}

.about-section_slider-pag {
  position: absolute;
  bottom: 30px;
  right: 40px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .about-section_slider-pag {
    bottom: 15px;
    right: 20px;
  }
}

.slider-pag_dots {
  margin: 0px 30px;
}
@media screen and (max-width: 768px) {
  .slider-pag_dots {
    margin: 0px 20px;
  }
}
.slider-pag_dots .slick-dots {
  display: flex;
  position: relative;
  bottom: unset;
}
.slider-pag_dots .slick-dots li {
  margin: 0px 20px 0px 0px;
  opacity: 0.4;
  width: auto;
  height: auto;
}
.slider-pag_dots .slick-dots li.slick-active {
  opacity: 1;
}
.slider-pag_dots .slick-dots li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .slider-pag_dots .slick-dots li {
    display: flex;
  }
}
.slider-pag_dots .slick-dots button {
  width: 8px;
  height: 8px;
  background-color: #fff;
  padding: 0;
  border-radius: 1px;
}
.slider-pag_dots .slick-dots button:before {
  display: none;
}
@media screen and (max-width: 768px) {
  .slider-pag_dots .slick-dots button {
    height: 6px;
    width: 6px;
  }
}

.slider-pag_prev-wrap {
  position: relative;
  cursor: pointer;
}
.slider-pag_prev-wrap svg, .slider-pag_prev-wrap img {
  transform: scale(-1);
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
.slider-pag_prev-wrap svg:last-child, .slider-pag_prev-wrap img:last-child {
  position: absolute;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .slider-pag_prev-wrap:hover svg:last-child, .slider-pag_prev-wrap:hover img:last-child {
    transform: scale(-1) translateX(8px);
    transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  }
}

.slider-pag_next-wrap {
  position: relative;
  cursor: pointer;
}
.slider-pag_next-wrap svg, .slider-pag_next-wrap img {
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
.slider-pag_next-wrap svg:last-child, .slider-pag_next-wrap img:last-child {
  position: absolute;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .slider-pag_next-wrap:hover svg:last-child, .slider-pag_next-wrap:hover img:last-child {
    transform: translateX(8px);
    transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .slider-pag_next-wrap img, .slider-pag_next-wrap svg, .slider-pag_prev-wrap img, .slider-pag_prev-wrap svg {
    height: 16px;
  }
}

.about-section_slide {
  border-radius: 16px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .about-section_slide {
    border-radius: 8px;
  }
}

.aside-menu {
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  padding: 45px 0px 50px;
  background-color: #fff;
  display: flex;
  animation: clipDown 1.25s cubic-bezier(0.81, 0, 0.3, 1);
  transition-property: clip-path;
}
@media screen and (max-width: 768px) {
  .aside-menu {
    height: 64px;
    padding: 0px 15px;
    width: 100%;
  }
}
.aside-menu.active {
  clip-path: unset;
}
.aside-menu.active .menu-content {
  pointer-events: all;
  clip-path: inset(0 0 0 0);
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.7s;
}
.aside-menu.active .menu-nav_menu-toggle svg .point, .aside-menu.active .menu-nav_menu-toggle svg .point2, .aside-menu.active .menu-nav_menu-toggle svg .point3 {
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  transform: translateY(40%);
}
.aside-menu.active .menu-nav_menu-toggle svg .point7, .aside-menu.active .menu-nav_menu-toggle svg .point8, .aside-menu.active .menu-nav_menu-toggle svg .point9 {
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  transform: translateY(-40%);
}
.aside-menu .menu-nav_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .aside-menu .menu-nav_wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.aside-menu .aside-menu_logo {
  display: none;
  width: 149px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  .aside-menu .aside-menu_logo {
    display: block;
  }
}
.aside-menu .menu-logo {
  width: 230px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  .aside-menu .menu-logo {
    display: none;
  }
}
.aside-menu .menu-nav_menu-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pragmatica Light Ex", sans-serif;
  font-size: 12px;
  cursor: pointer;
}
.aside-menu .menu-nav_menu-toggle img, .aside-menu .menu-nav_menu-toggle svg {
  width: 25px;
  height: 24px;
}
.aside-menu .menu-nav_menu-toggle svg .point, .aside-menu .menu-nav_menu-toggle svg .point2, .aside-menu .menu-nav_menu-toggle svg .point3, .aside-menu .menu-nav_menu-toggle svg .point7, .aside-menu .menu-nav_menu-toggle svg .point8, .aside-menu .menu-nav_menu-toggle svg .point9 {
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
.aside-menu .menu-nav_menu-toggle img, .aside-menu .menu-nav_menu-toggle svg {
  margin-bottom: 10px;
}
.aside-menu .menu-nav_menu-toggle img, .aside-menu .menu-nav_menu-toggle svg, .aside-menu .menu-nav_menu-toggle span {
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .aside-menu .menu-nav_menu-toggle:hover svg .point, .aside-menu .menu-nav_menu-toggle:hover svg .point3, .aside-menu .menu-nav_menu-toggle:hover svg .point7, .aside-menu .menu-nav_menu-toggle:hover svg .point9 {
    transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  }
  .aside-menu .menu-nav_menu-toggle:hover svg .point, .aside-menu .menu-nav_menu-toggle:hover svg .point3 {
    transform: translateY(40%);
  }
  .aside-menu .menu-nav_menu-toggle:hover svg .point7, .aside-menu .menu-nav_menu-toggle:hover svg .point9 {
    transform: translateY(-40%);
  }
}
@media screen and (max-width: 768px) {
  .aside-menu .menu-nav_menu-toggle {
    flex-direction: row;
  }
  .aside-menu .menu-nav_menu-toggle img, .aside-menu .menu-nav_menu-toggle svg {
    margin-bottom: 0;
    margin-right: 10px;
    width: 18px;
  }
  .aside-menu .menu-nav_menu-toggle span {
    font-size: 12px;
  }
}
.aside-menu .menu-nav_snetworks {
  transform: rotate(-90deg);
  padding-left: 45px;
  font-family: "Pragmatica Light Ex", sans-serif;
  font-size: 16px;
  width: 100px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .aside-menu .menu-nav_snetworks {
    display: none;
  }
}
.aside-menu .menu-nav_snetwork {
  margin-right: 40px;
  color: #b5b5b5;
  transition: all ease-in-out 0.3s;
}
.aside-menu .menu-nav_snetwork:last-child {
  margin-right: 0;
}
.aside-menu .menu-nav_snetwork:hover {
  color: #292929;
  transition: all ease-in-out 0.3s;
}
.aside-menu .menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 50px 50px 40px;
  pointer-events: none;
  position: absolute;
  left: 100px;
  height: 100%;
  background-color: #fff;
  top: 0;
  clip-path: inset(0 100% 0 0);
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.7s;
}
@media screen and (max-width: 768px) {
  .aside-menu .menu-content {
    height: 100vh;
    left: 0;
    clip-path: inset(0 0 100% 0);
    justify-content: center;
    padding: 65px 15px 25px;
    width: 100%;
  }
}
.aside-menu .menu-items {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
@media screen and (max-width: 768px) {
  .aside-menu .menu-items {
    order: 1;
    margin-bottom: 70px;
  }
}
.aside-menu .menu_item {
  margin-bottom: 40px;
  position: relative;
}
.aside-menu .menu_item:first-child {
  color: #a3a3a3;
}
.aside-menu .menu_item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1025px) {
  .aside-menu .menu_item:hover .menu-hoisting_photo {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .aside-menu .menu_item {
    margin-bottom: 20px;
  }
}
.aside-menu .menu_item, .aside-menu .menu_item2 {
  font-size: 24px;
  font-family: "Pragmatica Bold", sans-serif;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .aside-menu .menu_item, .aside-menu .menu_item2 {
    font-size: 16px;
  }
}
.aside-menu .menu2-items {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .aside-menu .menu2-items {
    margin-bottom: 30px;
    justify-content: unset;
  }
  .aside-menu .menu2-items a:first-child {
    margin-right: 40px;
  }
}
.aside-menu .menu-hoisting_photo {
  position: fixed;
  z-index: 10;
  display: none;
  width: 223px;
  height: 160px;
}
.aside-menu .menu-contacts {
  order: 2;
  display: none;
}
@media screen and (max-width: 768px) {
  .aside-menu .menu-contacts {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .aside-menu .menu-contacts .menu-nav_snetworks {
    display: flex;
    transform: unset;
    padding-left: 0;
    width: auto;
    margin: 20px 0px 30px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .aside-menu .menu-contacts .header-phone {
    font-size: 14px;
  }
}
.aside-menu .header-btn {
  width: 214px;
  height: 54px;
  font-family: "Pragmatica Medium", sans-serif;
  font-size: 16px;
  color: #fff;
  background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  border-radius: 27px;
  margin-right: 40px;
  position: relative;
}

header {
  position: fixed;
  margin-left: 100px;
  width: calc(100% - 100px);
  z-index: 90;
  transition: height cubic-bezier(0.81, 0, 0.3, 1) 0.6s, background-color cubic-bezier(0.81, 0, 0.3, 1) 0.6s;
  will-change: height;
  height: 145px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    margin-left: 0;
    height: 64px;
    display: none;
  }
}
header .container {
  animation: offsetHeader 12s cubic-bezier(0.81, 0, 0.3, 1);
}
header.other-page .header-phone {
  background: unset;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #292929;
}
header.other-page .selected-language {
  background: unset;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #292929;
}
header.active {
  background-color: #fff;
  transition: height cubic-bezier(0.81, 0, 0.3, 1) 0.6s, background-color cubic-bezier(0.81, 0, 0.3, 1) 0.6s;
  height: 80px;
  will-change: height;
}
header.active .header-logo2 {
  display: block;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
header.active .header-logo {
  display: none;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
header.active .header-phone {
  background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #0065f2;
  -webkit-text-fill-color: transparent;
}
header.active .selected-language {
  background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #0065f2;
  -webkit-text-fill-color: transparent;
}
header .header-logo, header .header-logo2 {
  width: 230px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-logo {
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
header .header-logo2 {
  display: none;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
header .header-logo2.active {
  display: block;
}
header .container {
  max-width: 1920px;
  padding: 0 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header .header-phone {
  margin-left: auto;
  color: #fff;
  font-size: 16px;
  font-family: "Pragmatica Light", sans-serif;
  margin-right: 40px;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  -webkit-text-fill-color: #fff;
}
header .header-phone:hover {
  background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #0065f2;
  -webkit-text-fill-color: transparent;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
header .header-phone img, header .header-phone svg {
  display: none;
}
@media screen and (max-width: 1024px) {
  header .header-phone span {
    display: none;
  }
  header .header-phone img, header .header-phone svg {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header .header-phone {
    display: none;
  }
}
header .common-btn {
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  header .common-btn {
    display: none;
  }
}

footer {
  min-height: 441px;
  background-color: #202020;
  width: calc(100% - 100px);
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    margin-left: 0;
    min-height: unset;
  }
}
footer .container {
  max-width: 1310px;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  footer .container {
    padding: 0 15px;
  }
}
footer .callback-form_wrap {
  max-width: 1310px;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  transform: translateY(-50px);
}
@media screen and (max-width: 1024px) {
  footer .callback-form_wrap {
    max-width: unset;
    width: 92%;
    padding: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  footer .callback-form_wrap {
    flex-direction: column;
    justify-content: center;
    height: unset;
    padding: 30px;
    border-radius: 8px;
    transform: translateY(-35px);
  }
}
footer .callback-form_title {
  max-width: 493px;
  color: #fff;
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 48px;
  margin-right: 296px;
}
@media screen and (max-width: 1024px) {
  footer .callback-form_title {
    margin-right: 20px;
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  footer .callback-form_title {
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
footer .callback-form {
  width: 320px;
}
footer .callback-form .error {
  color: #fff;
  margin-top: 15px;
}
@media screen and (max-width: 1024px) {
  footer .callback-form {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  footer .callback-form {
    width: 100%;
  }
}
footer .callback-form_input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
}
@media screen and (max-width: 768px) {
  footer .callback-form_input-wrap {
    width: 100%;
    padding-bottom: 7px;
  }
}
footer .callback-form_input-wrap input {
  width: 92%;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  footer .callback-form_input-wrap input {
    font-size: 14px;
  }
}
footer .callback-form_input-wrap input::-moz-placeholder {
  color: #fbdf80;
}
footer .callback-form_input-wrap input::placeholder {
  color: #fbdf80;
}
@media screen and (max-width: 768px) {
  footer .callback-form_input-wrap input::-moz-placeholder {
    color: #fff;
  }
  footer .callback-form_input-wrap input::placeholder {
    color: #fff;
  }
}
footer .callback-form_input-wrap button {
  padding: 0;
  display: flex;
}
footer .footer-content {
  margin-bottom: 60px;
  padding-right: 15px;
}
@media screen and (max-width: 768px) {
  footer .footer-content {
    margin-bottom: 25px;
    padding-right: 0;
  }
}
footer .footer-content_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  footer .footer-content_head {
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    margin-bottom: 35px;
  }
}
footer .footer-logo {
  width: 230px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  footer .footer-logo {
    width: 164px;
    margin-bottom: 25px;
  }
}
footer .footer-nav {
  display: flex;
}
footer .footer-links {
  margin-bottom: 30px;
}
footer .footer-link {
  color: #fff;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  margin-right: 40px;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  -webkit-text-fill-color: #fff;
}
footer .footer-link:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  footer .footer-link:hover {
    background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #0065f2;
    -webkit-text-fill-color: transparent;
    transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-link {
    font-size: 14px;
  }
}
footer .footer-snetworks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer .footer-snetworks {
    justify-content: unset;
  }
}
footer .footer-snetwork {
  margin-right: 30px;
}
footer .footer-snetwork:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  footer .footer-snetwork:hover svg path {
    fill: url(#socialHover);
  }
}
footer .footer-bottom {
  color: #797979;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-bottom a {
  color: #797979;
}
@media screen and (max-width: 768px) {
  footer .footer-bottom {
    font-size: 12px;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
}
footer .footer-text:first-child {
  margin-bottom: 10px;
}
footer .footer-text:last-child {
  margin-right: 4px;
}
@media screen and (min-width: 1024px) {
  footer .footer-text:last-child a {
    transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
    -webkit-text-fill-color: #fff;
  }
  footer .footer-text:last-child a:hover {
    background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #0065f2;
    -webkit-text-fill-color: transparent;
    transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
  }
}

#callback-modal .callback-modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #callback-modal .callback-modal__form {
    width: 100%;
  }
}
#callback-modal .callback-modal__form-input {
  margin-bottom: 40px;
  width: 320px;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;
}
#callback-modal .callback-modal__form-input::-moz-placeholder {
  color: #a9a9a9;
}
#callback-modal .callback-modal__form-input::placeholder {
  color: #a9a9a9;
}
@media screen and (max-width: 768px) {
  #callback-modal .callback-modal__form-input {
    font-size: 14px;
    margin-bottom: 30px;
    width: 100%;
  }
  #callback-modal .callback-modal__form-input:last-child {
    margin-bottom: 40px;
  }
}

.close-btn {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  opacity: 1 !important;
}
@media screen and (max-width: 768px) {
  .close-btn {
    top: 15px;
    right: 15px;
  }
}

.modal-dialog {
  max-width: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .modal-dialog {
    padding: 0 15px;
  }
}

.modal-content {
  max-width: 753px;
  padding: 50px 110px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: unset;
  border: unset;
}
@media screen and (max-width: 768px) {
  .modal-content {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 768px) {
  .modal-content .common-btn {
    width: 180px;
    height: 44px;
    border-radius: 27px;
    font-size: 14px;
  }
}

.modal-title {
  color: #292929;
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 13px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .modal-title {
    font-size: 24px;
    margin-bottom: 9px;
    line-height: 32px;
  }
}

.modal-description {
  color: #292929;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 35px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .modal-description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
}

.modal-backdrop.fade.show {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 1;
}
.modal-backdrop.fade {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  opacity: 0;
  background-color: unset;
}

.sending {
  margin-top: 20px;
}

.error {
  margin-top: 20px;
  color: #d23a36;
}

.common-btn.close {
  float: unset;
  font-size: 16px;
  color: #fff;
  text-shadow: unset;
  opacity: unset;
}
.common-btn.close:hover {
  color: #fff;
}

#main-page {
  min-height: 100vh;
}
#main-page .slider-section {
  height: 100vh;
  position: relative;
}
#main-page .slider-section .container {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  #main-page .slider-section .container {
    padding: 0 60px;
  }
}
@media screen and (max-width: 768px) {
  #main-page .slider-section .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1024px) {
  #main-page .slider-section {
    height: 70vh;
  }
}
@media screen and (max-width: 768px) {
  #main-page .slider-section {
    height: 100vh;
    padding-top: 64px;
  }
}
#main-page .main-page_slider-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#main-page .main-page_slider {
  width: 100%;
  height: 100%;
}
#main-page .page-slide {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#main-page .page-slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 1;
  opacity: 0.4;
}
#main-page .slider-section_scroll-img {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 60px 50px;
  z-index: 2;
  top: 93%;
  display: flex;
  align-items: center;
}
#main-page .slider-section_scroll-img img, #main-page .slider-section_scroll-img svg {
  margin-right: 9px;
}
#main-page .slider-section_scroll-img span {
  color: #fff;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  #main-page .slider-section_scroll-img {
    display: none;
  }
}
#main-page .slider-section_pag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 592px;
  height: 120px;
  border-radius: 16px 0 0;
  background-color: #f6f6f5;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  #main-page .slider-section_pag {
    height: 64px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 20px 15px;
    justify-content: space-between;
  }
}
#main-page .slider-arrows {
  display: flex;
  align-items: center;
}
#main-page .slider-arrow_prev-wrap {
  margin-right: 40px;
}
#main-page .slider-arrow_prev-wrap svg, #main-page .slider-arrow_prev-wrap img {
  transform: scale(-1);
}
#main-page .slider-arrow_prev-wrap:hover svg:last-child, #main-page .slider-arrow_prev-wrap:hover img:last-child {
  transform: scale(-1) translateX(8px);
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
@media screen and (max-width: 768px) {
  #main-page .slider-arrow_prev-wrap {
    margin-right: 30px;
  }
}
#main-page .slider-arrow_next-wrap:hover svg:last-child, #main-page .slider-arrow_next-wrap:hover img:last-child {
  transform: translateX(8px);
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
#main-page .slider-arrow_prev-wrap, #main-page .slider-arrow_next-wrap {
  position: relative;
  cursor: pointer;
}
#main-page .slider-arrow_prev-wrap svg, #main-page .slider-arrow_prev-wrap img, #main-page .slider-arrow_next-wrap svg, #main-page .slider-arrow_next-wrap img {
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
#main-page .slider-arrow_prev-wrap svg:last-child, #main-page .slider-arrow_prev-wrap img:last-child, #main-page .slider-arrow_next-wrap svg:last-child, #main-page .slider-arrow_next-wrap img:last-child {
  position: absolute;
  left: 0;
}
@media screen and (max-width: 768px) {
  #main-page .slider-arrow_prev-wrap, #main-page .slider-arrow_next-wrap {
    height: 20px;
  }
  #main-page .slider-arrow_prev-wrap svg, #main-page .slider-arrow_prev-wrap img, #main-page .slider-arrow_next-wrap svg, #main-page .slider-arrow_next-wrap img {
    height: 100%;
  }
}
#main-page .slider-pag_index {
  display: flex;
  align-items: center;
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  #main-page .slider-pag_index {
    font-size: 18px;
  }
}
#main-page .slider-pag_current {
  transition: opacity cubic-bezier(0.81, 0, 0.3, 1) 0.5s;
}
#main-page .slider-pag_progress-wrap {
  width: 276px;
  height: 2px;
  background-color: #cdcdcc;
  margin: 0 40px;
}
@media screen and (max-width: 768px) {
  #main-page .slider-pag_progress-wrap {
    margin: 0;
    width: 55%;
  }
}
#main-page .slider-pag_progress {
  background-color: #292929;
  height: 2px;
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 1s;
}
#main-page .container {
  max-width: 1310px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
#main-page .slider-section_content {
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  #main-page .slider-section_content {
    margin-top: 0;
  }
}
#main-page .slider-section_title {
  color: #fff;
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 64px;
  line-height: 72px;
  max-width: 923px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  #main-page .slider-section_title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  #main-page .slider-section_title {
    font-size: 32px;
    line-height: 40px;
  }
}
#main-page .slider-section_desc {
  max-width: 542px;
  color: #fff;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 47px;
}
@media screen and (max-width: 1024px) {
  #main-page .slider-section_desc {
    margin-bottom: 37px;
  }
}
@media screen and (max-width: 768px) {
  #main-page .slider-section_desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 29px;
  }
}
#main-page .about-section {
  padding-top: 120px;
}
@media screen and (max-width: 768px) {
  #main-page .about-section {
    padding: 30px 15px 20px;
  }
}
#main-page .about-section .container {
  max-width: 1310px;
  margin: 0 auto;
}
#main-page .about-section .about-section_content-wrap {
  display: flex;
  margin-bottom: 60px;
}
#main-page .about-section .about-section_content-wrap .about-section_content1, #main-page .about-section .about-section_content-wrap .about-section_content2 {
  margin-right: 40px;
}
@media screen and (max-width: 1150px) {
  #main-page .about-section .about-section_content-wrap {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  #main-page .about-section .about-section_content-wrap .about-section_content1, #main-page .about-section .about-section_content-wrap .about-section_content2 {
    margin-right: 0;
  }
}
#main-page .about-section .about-section_name {
  color: #a4a4a3;
  font-family: "Pragmatica Medium Ex", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #main-page .about-section .about-section_name {
    font-size: 12px;
    letter-spacing: 2px;
  }
}
#main-page .about-section .about-section_title {
  max-width: 528px;
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  #main-page .about-section .about-section_title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 22px;
  }
}
#main-page .about-section .about-section_content1 .about-section_description {
  margin-bottom: 55px;
}
@media screen and (max-width: 768px) {
  #main-page .about-section .about-section_content1 .about-section_description {
    margin-bottom: 17px;
  }
}
#main-page .about-section .about-section_content1 .about-section_link {
  display: block;
}
@media screen and (max-width: 1150px) {
  #main-page .about-section .about-section_content1 .about-section_link {
    display: none;
  }
}
#main-page .about-section .about-section_content2 {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}
#main-page .about-section .about-section_content2 .about-section_description {
  margin-bottom: 40px;
}
@media screen and (max-width: 1150px) {
  #main-page .about-section .about-section_content2 .about-section_description {
    margin-bottom: 17px;
  }
}
#main-page .about-section .about-section_content2 .about-section_link {
  display: none;
  margin-bottom: 25px;
}
@media screen and (max-width: 1150px) {
  #main-page .about-section .about-section_content2 {
    margin-bottom: 30px;
  }
  #main-page .about-section .about-section_content2 .about-section_link {
    display: block;
  }
}
#main-page .about-section .about-section_content3 .about-section_description {
  max-width: 255px;
}
@media screen and (max-width: 768px) {
  #main-page .about-section .about-section_content3 .about-section_description {
    max-width: unset;
  }
}
#main-page .about-section .about-section_description {
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}
#main-page .about-section .about-section_description span {
  margin-bottom: 35px;
}
#main-page .about-section .about-section_description span:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #main-page .about-section .about-section_description {
    font-size: 14px;
    line-height: 20px;
  }
  #main-page .about-section .about-section_description span {
    margin-bottom: 22px;
  }
}
#main-page .about-section .about-section_statistic {
  margin-top: auto;
}
@media screen and (max-width: 768px) {
  #main-page .about-section .about-section_statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
#main-page .about-section .point-wrap {
  display: flex;
  margin-bottom: 35px;
}
#main-page .about-section .point-wrap:last-child {
  margin-bottom: 0;
}
#main-page .about-section .point-wrap svg, #main-page .about-section .point-wrap img {
  width: 12px;
  height: 12px;
}
#main-page .about-section .point-wrap .svg-wrap {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  #main-page .about-section .point-wrap .svg-wrap {
    margin-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  #main-page .about-section .point-wrap {
    margin-bottom: 22px;
  }
}
#main-page .about-section .about-section_statistic {
  display: flex;
}
#main-page .about-section .statistic {
  display: flex;
  flex-direction: column;
  width: -moz-min-content;
  width: min-content;
  margin-right: 50px;
  color: #121212;
}
#main-page .about-section .statistic:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  #main-page .about-section .statistic {
    margin-right: 0;
  }
}
#main-page .about-section .statistic-year {
  background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 48px;
  margin-bottom: 9px;
}
#main-page .about-section .statistic-desc {
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #main-page .about-section .statistic-desc {
    font-size: 14px;
  }
}
#main-page .information-section {
  padding-top: 120px;
  padding-bottom: 170px;
}
@media screen and (max-width: 768px) {
  #main-page .information-section {
    padding-top: 0;
    padding-bottom: 77px;
  }
}
#main-page .information-section .container {
  max-width: 1580px;
}
@media screen and (max-width: 768px) {
  #main-page .information-section .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  #main-page .information-section .information-content_wrap {
    order: 1;
  }
}
#main-page .information-section .information-wrap {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  #main-page .information-section .information-wrap {
    margin-bottom: 40px;
  }
}
#main-page .information-section .information-wrap:last-child {
  margin-bottom: 0;
}
#main-page .information-section .information-wrap:nth-child(2) .information-content {
  padding-left: 145px;
}
#main-page .information-section .information-wrap:nth-child(2) .information-img_wrap {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  #main-page .information-section .information-img_wrap {
    margin-bottom: 20px;
  }
}
#main-page .information-section .information-content {
  padding-left: 0px;
}
#main-page .information-section .information-img {
  border-radius: 16px;
  max-width: 720px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  #main-page .information-section .information-img {
    margin: 0;
    border-radius: 8px;
  }
}
@media screen and (max-width: 768px) {
  #main-page .information-section .information-content {
    padding: 0 !important;
  }
}
#main-page .information-section .information-title {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 23px;
}
@media screen and (max-width: 768px) {
  #main-page .information-section .information-title {
    font-size: 24px;
    line-height: 1;
  }
}
#main-page .information-section .information-description {
  max-width: 615px;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  #main-page .information-section .information-description {
    font-size: 14px;
    line-height: 20px;
  }
}

.slider-section_link, .about-section_link, .service_link {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.slider-section_link svg, .slider-section_link img, .about-section_link svg, .about-section_link img, .service_link svg, .service_link img {
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}
.slider-section_link span, .about-section_link span, .service_link span {
  color: #0065f2;
  background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 20px;
  line-height: 26px;
  margin-right: 20px;
}
.slider-section_link:hover svg, .slider-section_link:hover img, .about-section_link:hover svg, .about-section_link:hover img, .service_link:hover svg, .service_link:hover img {
  transform: translateX(10px);
  transition: all cubic-bezier(0.81, 0, 0.3, 1) 0.3s;
}

@media screen and (max-width: 768px) {
  .slider-section_link, .about-section_link {
    font-size: 18px;
    line-height: 26px;
  }
  .slider-section_link span, .about-section_link span {
    margin-right: 15px;
  }
  .slider-section_link svg, .slider-section_link img, .about-section_link svg, .about-section_link img {
    height: 16px;
  }
}

#services-page {
  padding-top: 145px;
  min-height: 100vh;
  padding-bottom: 130px;
}
@media screen and (max-width: 768px) {
  #services-page {
    padding-top: 94px;
    padding-bottom: 37px;
  }
}
#services-page .container {
  max-width: 1310px;
}
#services-page .services-section_title {
  text-align: left;
  font-size: 64px;
  margin-bottom: 55px;
}
@media screen and (max-width: 768px) {
  #services-page .services-section_title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }
}
#services-page .services-section {
  padding-top: 0;
}

#about-page {
  padding-top: 140px;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  #about-page {
    padding-top: 94px;
  }
}
#about-page .container {
  max-width: 1310px;
}
@media screen and (max-width: 768px) {
  #about-page .container {
    padding: 0 15px;
  }
}
#about-page .about-section {
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  #about-page .about-section {
    padding-bottom: 15px;
  }
}
#about-page .leaders-section_content {
  margin-bottom: 105px;
}
@media screen and (max-width: 768px) {
  #about-page .leaders-section_content {
    margin-bottom: 33px;
  }
}
#about-page .valuables-section_content {
  margin-bottom: 105px;
}
@media screen and (max-width: 768px) {
  #about-page .valuables-section_content {
    margin-bottom: 33px;
  }
}
#about-page .about-section_title, #about-page .leaders-section_title, #about-page .valuables-section_title {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 55px;
}
@media screen and (max-width: 768px) {
  #about-page .about-section_title, #about-page .leaders-section_title, #about-page .valuables-section_title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
#about-page .valuables-section_title {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #about-page .valuables-section_title {
    margin-bottom: 15px;
  }
}
#about-page .about-section_desc-wrap, #about-page .valuables-section_desc-wrap {
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 65px;
}
@media screen and (max-width: 768px) {
  #about-page .about-section_desc-wrap, #about-page .valuables-section_desc-wrap {
    font-size: 14px;
    margin-bottom: 22px;
  }
}
#about-page .about-section_desc, #about-page .leaders-section_desc {
  margin-bottom: 40px;
  max-width: 615px;
  line-height: 26px;
}
#about-page .about-section_desc:last-child, #about-page .leaders-section_desc:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #about-page .about-section_desc, #about-page .leaders-section_desc {
    line-height: 20px;
    margin-bottom: 20px;
  }
}
#about-page .about-section_img {
  max-height: 600px;
  border-radius: 16px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #about-page .about-section_img {
    max-height: 180px;
    border-radius: 8px;
  }
}
#about-page .leaders-section {
  padding: 60px 0px 125px;
}
@media screen and (max-width: 768px) {
  #about-page .leaders-section {
    padding: 15px 0 33px;
  }
}
#about-page .leaders-section_subtitle {
  max-width: 574px;
  font-family: "Pragmatica Light Ex", sans-serif;
  font-size: 24px;
  line-height: 36px;
}
@media screen and (max-width: 768px) {
  #about-page .leaders-section_subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}
#about-page .leaders-section_desc {
  max-width: 574px;
}
@media screen and (max-width: 768px) {
  #about-page .leaders-section_desc {
    font-size: 14px;
    line-height: 20px;
  }
}
#about-page .leaders-section_info:first-child {
  transform: translateY(-160px);
}
@media screen and (max-width: 768px) {
  #about-page .leaders-section_info:first-child {
    transform: unset;
    margin-bottom: 33px;
  }
}
#about-page .leaders-section_info-img {
  max-height: 760px;
  border-radius: 16px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #about-page .leaders-section_info-img {
    border-radius: 8px;
    margin-bottom: 20px;
    max-height: 457px;
  }
}
#about-page .leader-info {
  max-width: 574px;
}
#about-page .leader-content {
  max-width: 450px;
}
#about-page .leader-name {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  #about-page .leader-name {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
#about-page .leader-desc {
  margin-bottom: 25px;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  #about-page .leader-desc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
#about-page .leader-tagline {
  font-family: "Pragmatica Light Ex", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  #about-page .leader-tagline {
    font-size: 14px;
    line-height: 20px;
  }
}
#about-page .valuables-section {
  padding: 40px 0px 105px;
}
@media screen and (max-width: 768px) {
  #about-page .valuables-section {
    padding: 15px 0 33px;
  }
}
#about-page .valuables-section_inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 991px) {
  #about-page .valuables-section_inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
#about-page .valuables-section_info {
  margin-top: 110px;
  padding-right: 20px;
  max-width: 668px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  #about-page .valuables-section_info {
    margin-top: 0;
  }
}
#about-page .valuables-section_name {
  font-size: 24px;
  line-height: 36px;
  color: #292929;
  margin-bottom: 24px;
  font-family: "Pragmatica Medium Ex", sans-serif;
}
@media screen and (max-width: 768px) {
  #about-page .valuables-section_name {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}
#about-page .valuables-section_desc {
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  #about-page .valuables-section_desc {
    font-size: 14px;
  }
}
#about-page .valuables-section_preview {
  max-width: 574px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  #about-page .valuables-section_preview {
    max-width: 100%;
  }
}
#about-page .valuables-section_img {
  max-height: 760px;
  border-radius: 16px;
}
@media screen and (max-width: 991px) {
  #about-page .valuables-section_img {
    border-radius: 8px;
    max-height: 457px;
  }
}
#about-page .services-about {
  padding: 120px 0px 170px;
}
@media screen and (max-width: 768px) {
  #about-page .services-about {
    padding: 40px 0px 35px;
  }
}
@media screen and (max-width: 768px) {
  #about-page .about-section_title.text-center {
    margin-bottom: 0;
  }
}

#main-contacts {
  height: 1075px;
  padding-top: 174px;
}
@media screen and (max-width: 768px) {
  #main-contacts {
    padding-top: 94px;
    height: auto;
  }
}
#main-contacts .contacts-section {
  position: relative;
  height: 100%;
}
#main-contacts .contacts-wrap {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  #main-contacts .contacts-wrap {
    padding: 0 15px 30px;
  }
}
#main-contacts .page-path_wrap {
  margin-bottom: 203px;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  #main-contacts .page-path_wrap {
    margin-bottom: 10px;
    padding-top: 0;
  }
}
#main-contacts .contacts-title {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  #main-contacts .contacts-title {
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 32px;
  }
}
#main-contacts .phones-wrap, #main-contacts .mail-wrap, #main-contacts .adress-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #main-contacts .phones-wrap, #main-contacts .mail-wrap, #main-contacts .adress-wrap {
    margin-bottom: 30px;
  }
}
#main-contacts .adress-wrap {
  margin-bottom: 0;
}
#main-contacts .phones-title, #main-contacts .mail-title, #main-contacts .adress-title {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
#main-contacts .phone, #main-contacts .adress, #main-contacts .mail {
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}
#main-contacts .phone:last-child, #main-contacts .adress:last-child, #main-contacts .mail:last-child {
  margin-bottom: 0;
}
#main-contacts .phone img, #main-contacts .phone svg, #main-contacts .adress img, #main-contacts .adress svg, #main-contacts .mail img, #main-contacts .mail svg {
  margin-right: 10px;
  height: 24px;
  width: auto;
}
@media screen and (max-width: 768px) {
  #main-contacts .phone, #main-contacts .adress, #main-contacts .mail {
    font-size: 14px;
  }
  #main-contacts .phone img, #main-contacts .phone svg, #main-contacts .adress img, #main-contacts .adress svg, #main-contacts .mail img, #main-contacts .mail svg {
    height: 20px;
  }
}
#main-contacts .contacts-map_wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 768px) {
  #main-contacts .contacts-map_wrap {
    position: static;
    width: auto;
    height: 300px;
  }
}
#main-contacts .contacts-map {
  height: 100%;
}

#main-service {
  padding-top: 140px;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  #main-service {
    padding-top: 94px;
  }
}
#main-service .container {
  max-width: 1310px;
}
@media screen and (max-width: 768px) {
  #main-service .container {
    padding: 0 15px;
  }
}
#main-service .service-section {
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  #main-service .service-section {
    padding-bottom: 40px;
  }
}
#main-service .service-section_title {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 55px;
}
@media screen and (max-width: 768px) {
  #main-service .service-section_title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
#main-service .service-section_desc {
  max-width: 615px;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}
#main-service .service-section_desc span {
  margin-bottom: 30px;
}
#main-service .service-section_desc span:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #main-service .service-section_desc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 17px;
  }
  #main-service .service-section_desc span {
    margin-bottom: 22px;
  }
}
#main-service .service-section_statistic {
  display: flex;
}
@media screen and (max-width: 768px) {
  #main-service .service-section_statistic {
    justify-content: space-between;
    margin-bottom: 25px;
  }
}
#main-service .statistic {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  color: #121212;
}
#main-service .statistic:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  #main-service .statistic {
    margin-right: 0;
  }
}
@media screen and (max-width: 576px) {
  #main-service .statistic {
    width: -moz-min-content;
    width: min-content;
  }
}
#main-service .statistic-year {
  background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 48px;
  margin-bottom: 9px;
}
@media screen and (max-width: 576px) {
  #main-service .statistic-year {
    font-size: 40px;
  }
}
#main-service .statistic-desc {
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #main-service .statistic-desc {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  #main-service .statistic-desc {
    font-size: 12px;
  }
}
#main-service .service-section_img {
  border-radius: 16px;
}
@media screen and (max-width: 768px) {
  #main-service .service-section_img {
    border-radius: 8px;
  }
}
#main-service .section-skills {
  background-image: linear-gradient(97deg, #eb8900, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00);
  padding: 120px 0px;
}
@media screen and (max-width: 768px) {
  #main-service .section-skills {
    padding: 40px 0px;
  }
}
@media screen and (max-width: 768px) {
  #main-service .skill {
    margin-bottom: 37px;
  }
  #main-service .skill:last-child {
    margin-bottom: 0;
  }
}
#main-service .skill-icon {
  height: 54px;
  width: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #main-service .skill-icon {
    height: 48px;
    margin-bottom: 15px;
  }
}
#main-service .skill-title {
  color: #fff;
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  #main-service .skill-title {
    font-size: 24px;
    margin-bottom: 13px;
  }
}
#main-service .skill-description {
  max-width: 404px;
  color: #fff;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 768px) {
  #main-service .skill-description {
    font-size: 14px;
    line-height: 20px;
  }
}
#main-service .section-about_skill {
  padding: 120px 0px 60px;
}
@media screen and (max-width: 768px) {
  #main-service .section-about_skill {
    padding: 30px 0px 20px;
  }
}
#main-service .about-skill_title {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 55px;
}
@media screen and (max-width: 768px) {
  #main-service .about-skill_title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
#main-service .about-skill_desc {
  max-width: 615px;
  font-family: "Pragmatica Light", sans-serif;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}
#main-service .about-skill_desc span {
  margin-bottom: 30px;
}
#main-service .about-skill_desc span:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #main-service .about-skill_desc {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 22px;
  }
  #main-service .about-skill_desc span {
    margin-bottom: 22px;
  }
}
#main-service .about-skill_img {
  max-height: 740px;
  border-radius: 16px;
}
@media screen and (max-width: 768px) {
  #main-service .about-skill_img {
    border-radius: 8px;
  }
}
#main-service .another-services_title {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 48px;
  margin-bottom: 45px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #main-service .another-services_title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
#main-service .another-services_section {
  padding: 60px 0px 170px;
}
@media screen and (max-width: 768px) {
  #main-service .another-services_section {
    padding: 20px 0px 35px;
  }
}

.section-404 {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-404_inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-404 .error_context .title {
  font-family: "Pragmatica Bold", sans-serif;
  font-size: 64px;
  line-height: 72px;
  color: #292929;
  margin-bottom: 18px;
}
.section-404 .error_context .text {
  font-size: 14px;
  line-height: 18px;
  color: #292929;
  margin-bottom: 18px;
}
.section-404 .error_context .links_container a span:first-child {
  font-size: 16px;
  line-height: 26px;
  background: linear-gradient(96.78deg, #EB8900 0.49%, #F1A600 27.14%, #F5B800 50.6%, #F6BE00 67.5%, #F6B900 74.86%, #F5AD00 96.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-clip: text;
  margin-right: 8px;
}
.section-404 .error_context .links_container a span svg {
  width: 7px;
  height: 12px;
}
@media screen and (max-width: 768px) {
  .section-404 .error_context .title {
    font-size: 24px;
    line-height: 32px;
  }
}