/** SPACES */
$spaces: (
        'm' : 'margin',
        'mt': 'margin-top',
        'mr': 'margin-right',
        'mb': 'margin-bottom',
        'ml': 'margin-left',
        'p' : 'padding',
        'pt': 'padding-top',
        'pr': 'padding-right',
        'pb': 'padding-bottom',
        'pl': 'padding-left'
);
@each $code, $style in $spaces {
    @for $i from 2 through 20 {
        .#{$code}-#{$i * 5} {
            #{$style}: #{$i * 5}px;
        }
    }
}

/** END SPACES */