[data-aos='clipDown'] {
  clip-path: inset(  0  0 100% 0 );
  transition-property: clip-path;
  transition-timing-function: cubic-bezier(.81,0,.3,1);

  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}


[data-aos='clipTop'] {
  transform: translateY(100%);
  transition-timing-function: cubic-bezier(.81,0,.3,1);

  &.aos-animate {
    transform: translateY(0);
  }
}

[data-aos='clipRight'] {
  clip-path: inset(  0 100% 0  0 );
  transition-property: clip-path;
  transition-timing-function: cubic-bezier(.81,0,.3,1);

  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}


[data-aos='clipLeft'] {
  clip-path: inset(  0  0  0 100%);
  transition-property: clip-path;
  transition-timing-function: cubic-bezier(.81,0,.3,1);

  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}

[data-aos='offsetHeader'] {
  transform: translateY(-145px);
  transition-timing-function: cubic-bezier(.81,0,.3,1);
  transition-property: transform;
  &.aos-animate {
    transform: translateY(0);
  }
}

@keyframes offsetHeader {
  0% {
    transform: translateY(-145px);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}



[data-aos='offsetDown'] {
   transform: translateY(-40px);
   transition-timing-function: cubic-bezier(.81,0,.3,1);

   &.aos-animate {
     transform: translateY(0);
   }
 }

[data-aos='offsetRight'] {
  transform: translateX(-40px);
  opacity: 0;
  transition-timing-function: cubic-bezier(.81,0,.3,1);

  &.aos-animate {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-aos='offsetTop'] {
  transform: translateY(40px);
  opacity: 0;
  transition-timing-function: cubic-bezier(.81,0,.3,1);

  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes offsetTop {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

[data-aos='fromOpacity'] {
  opacity: 0;
  transition-timing-function: cubic-bezier(.81,0,.3,1);

  &.aos-animate {
   opacity: 1;
  }
}

@keyframes clipDown {
  0% {
    clip-path: inset(  0  0 100% 0 );
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}


.about-section_slide, .main-page_slide {
  opacity: 0;
  position: absolute !important;
  top: 0;
  left: 0 !important;
  right: 0;
  bottom: 0;
  width: 100% !important;

  &.prev-slide {
    clip-path: circle(0% at 100% 0);
  }

  &.next-slide {
    clip-path: circle(0% at 0 0) ;
  }

  &.active-slide {
    clip-path: circle(140%);
    transition: clip-path 1s $cubic;
  }

  &.slick-active {
    opacity: 1 !important;
    z-index: 200000 !important;
  }

}

.main-page_slide {
  &.active-slide {
    transition: clip-path 1.5s $cubic !important;
  }
}

.slick-track {
  position: relative;
  width: 100% !important;
  transform: unset !important;
}