$pragmaticaB : 'Pragmatica Bold',sans-serif;
$pragmaticaM : 'Pragmatica Medium',sans-serif;
$pragmaticaL : 'Pragmatica Light',sans-serif;
$pragmaticalEX : 'Pragmatica Light Ex',sans-serif;
$pragmaticaMEX : 'Pragmatica Medium Ex',sans-serif;

//colors

$main:  #292929;
$grey:  #b5b5b5;
$greyHover: #292929;
$greyActive:  #a3a3a3;

//animation

$cubic: cubic-bezier(.81,0,.3,1);