mixin services(services)
    - var i = 2;
    .services-wrap.row
        each service in services
            .service.col-12.col-lg-4(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay=(i++) * 200)
                .service-number=service.number
                img.svg.service-icon(src=service.img)
                .service-content
                    .service-title=service.title
                    .service-description=service.description
                a.service_link(href="")
                    span Подробнее
                    img.svg(src="/images/icons/arrow.svg")