mixin slides(slides)
    .about-section_slider-wrap(data-aos="clipRight" data-aos-duration="1250" data-aos-once="true")
        .about-section_slider(data-aos="offsetRight" data-aos-duration="1250" data-aos-once="true" data-aos-delay="1450")
            each slide in slides
                .about-section_slide
                    img(src=slide.img)
        .about-section_slider-pag
            .slider-pag_prev-wrap
                img.svg(src="/images/icons/arrow2.svg")
                img.svg(src="/images/icons/arrow2.svg")
            .slider-pag_dots
            .slider-pag_next-wrap
                img.svg(src="/images/icons/arrow2.svg")
                img.svg(src="/images/icons/arrow2.svg")