body {
  min-width: 375px;
  font-family: $pragmaticaL;
  color: $main;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

html,body {
  &.active {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  background-color: #f9f9f9;
}

main {
  background-color: #f6f6f5;
  margin-left: 100px;
  width: calc(100% - 100px);

  @media screen and(max-width: 768px){
    margin-left: 0;
    width: 100%;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  padding: 0;
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  background-color: unset;
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  transition: all $cubic .7s;
  pointer-events: none;
  z-index: 91;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


  &.active {
    opacity: 1;
    visibility: visible;
    transition: all $cubic .7s;
    pointer-events: all;
  }

}


.slick-slider, .slick-list, .slick-track{
  height: 100%;
}

.page-path_wrap {
  font-family: $pragmaticaL;
  font-size: 16px;
  margin-bottom: 45px;

  .container {
    padding: 0 !important;
  }

  span {
    margin: 0 15px;
    color: $grey;
  }

  @media screen and(max-width: 768px) {
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.path-current_page {
  color: $grey;
}

.services-section_title, .information-title, .service-section_title, .about-skill_title , .another-services_title, .contacts-title{
  overflow: hidden;
  line-height: 1.3 !important;
}

.common-btn {
  width: 214px;
  height: 54px;
  font-family: $pragmaticaM;
  font-size: 16px;
  color: #fff;
  background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%) !important;
  border-radius: 27px;
  position: relative;
  z-index: 1;

  @media screen and(min-width: 1024px) {
    &:before {
      content: "";
      width: 214px;
      height: 54px;
      border-radius: 27px;
      background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
      opacity: 0.4;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      transition: all $cubic .3s;
    }

    &:hover {
      &:before {
        transform: translate(-8px, 8px);
        transition: all $cubic .3s;
      }
    }
  }
}