footer {
  min-height: 441px;
  background-color: #202020;
  width: calc(100% - 100px);
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;

  @media screen and(max-width: 768px) {
    width: 100%;
    margin-left: 0;
    min-height: unset;
  }

  .container {
    max-width: 1310px;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;

    @media screen and(max-width: 768px) {
      padding: 0 15px;
    }
  }

  .callback-form_wrap {
    max-width: 1310px;
    width: 100%;
    height: 200px;
    border-radius: 16px;
    background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    transform: translateY(-50px);

    @media screen and(max-width: 1024px) {
      max-width: unset;
      width: 92%;
      padding: 0 40px;
    }

    @media screen and(max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      height: unset;
      padding: 30px;
      border-radius: 8px;
      transform: translateY(-35px);
    }

  }

  .callback-form_title {
    max-width: 493px;
    color: #fff;
    font-family: $pragmaticaB;
    font-size: 48px;
    margin-right: 296px;

    @media screen and(max-width: 1024px) {
      margin-right: 20px;
      font-size: 36px;
    }

    @media screen and(max-width: 768px) {
      font-size: 24px;
      margin-right: 0;
      margin-bottom: 20px;
    }

  }

  .callback-form {
    width: 320px;

    .error {
      color: #fff;
      margin-top: 15px;
    }

    @media screen and(max-width: 1024px){
      width: 40%;
    }

    @media screen and(max-width: 768px) {
      width: 100%;
    }

  }

  .callback-form_input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 12px;

    @media screen and(max-width: 768px) {
      width: 100%;
      padding-bottom: 7px;
    }

    input {
      width: 92%;
      font-family: $pragmaticaL;
      font-size: 16px;
      color: #fff;
      background-color: transparent;

      @media screen and(max-width: 768px) {
        font-size: 14px;
      }
    }

    input::placeholder {
      color: #fbdf80;

      @media screen and(max-width: 768px) {
        color: #fff;
      }
    }

    button {
      padding: 0;
      display: flex;
    }
  }

  .footer-content {
    margin-bottom: 60px;
    padding-right: 15px;

    @media screen and(max-width: 768px){
      margin-bottom: 25px;
      padding-right: 0;
    }
  }

  .footer-content_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    @media screen and(max-width: 768px) {
      flex-direction: column;
      align-items: unset;
      justify-content: unset;
      margin-bottom: 35px;
    }
  }

  .footer-logo {
    width: 230px;
    height: 48px;
    object-fit: contain;
    @media screen and(max-width: 768px) {
      width: 164px;
      margin-bottom: 25px;
    }
  }

  .footer-nav {
    display: flex;
  }

  .footer-links {
    margin-bottom: 30px;
  }

  .footer-link {
    color: #fff;
    font-family: $pragmaticaL;
    font-size: 16px;
    margin-right: 40px;
    transition: all $cubic .3s;
    -webkit-text-fill-color: #fff;

    &:last-child {
      margin-right: 0;
    }

    @media screen and(min-width: 1024px) {
      &:hover {
        background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: #0065f2;
        -webkit-text-fill-color: transparent;
        transition: all $cubic .3s;
      }
    }

    @media screen and(max-width: 768px) {
      font-size: 14px;
    }
  }

  .footer-snetworks {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and(max-width: 768px) {
      justify-content: unset;
    }
  }

  .footer-snetwork {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and(min-width: 1024px){
      &:hover {
        svg {
          path {
            fill: url(#socialHover);
          }
        }
      }
    }

  }

  .footer-bottom {
    color: #797979;
    font-family: $pragmaticaL;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: #797979;
    }

    @media screen and(max-width: 768px) {
      font-size: 12px;
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
    }

  }

  .footer-text:first-child {
    margin-bottom: 10px;
  }

  .footer-text:last-child {
      margin-right: 4px;

    @media screen and(min-width: 1024px) {
      a {
        transition: all $cubic .3s;
        -webkit-text-fill-color: #fff;
      }

      a:hover {
        background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: #0065f2;
        -webkit-text-fill-color: transparent;
        transition: all $cubic .3s;
      }
    }
  }

}