#callback-modal {
  .callback-modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and(max-width: 768px){
      width: 100%;
    }
  }

  .callback-modal__form-input {
    margin-bottom: 40px;
    width: 320px;
    font-family: $pragmaticaL;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;

    &::placeholder {
      color: #a9a9a9;
    }

    @media screen and(max-width: 768px){
      font-size: 14px;
      margin-bottom: 30px;
      width: 100%;

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }
}


.close-btn {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  opacity: 1 !important;

  @media screen and(max-width: 768px) {
    top: 15px;
    right: 15px;
  }
}


.modal-dialog {
  max-width: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;

  @media screen and(max-width: 768px) {
    padding: 0 15px;
  }
}

.modal-content {
  max-width: 753px;
  padding: 50px 110px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: unset;
  border: unset;

  @media screen and(max-width: 768px){
    padding: 40px 30px;
  }

  .common-btn {
    @media screen and(max-width: 768px) {
      width: 180px;
      height: 44px;
      border-radius: 27px;
      font-size: 14px;
    }
  }
}

.modal-title {
  color: $main;
  font-family: $pragmaticaB;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 13px;
  text-align: center;

  @media screen and(max-width: 768px) {
    font-size: 24px;
    margin-bottom: 9px;
    line-height: 32px;
  }
}

.modal-description {
  color: $main;
  font-family: $pragmaticaL;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 35px;
  text-align: center;

  @media screen and(max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
}

.modal-backdrop {
  &.fade.show {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 1;
  }

  &.fade {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    opacity: 0;
    background-color: unset;
  }
}

.sending {
  margin-top: 20px;
}

.error {
  margin-top: 20px;
  color: rgb(210, 58, 54);
}

.common-btn.close {
  float: unset;
  font-size: 16px;
  color: #fff;
  text-shadow: unset;
  opacity: unset;

  &:hover {
    color: #fff;
  }

}