#about-page {
  padding-top: 140px;
  min-height: 100vh;

  @media screen and(max-width: 768px){
    padding-top: 94px;
  }

  .container {
    max-width: 1310px;

    @media screen and(max-width: 768px) {
      padding: 0 15px;
    }
  }

  .about-section {
    padding-bottom: 60px;

    @media screen and(max-width:768px) {
      padding-bottom: 15px;
    }
  }

  .leaders-section_content {
    margin-bottom: 105px;

    @media screen and(max-width: 768px) {
      margin-bottom: 33px;
    }
  }

  .valuables-section_content {
    margin-bottom: 105px;

    @media screen and(max-width: 768px) {
      margin-bottom: 33px;
    }
  }

  .about-section_title, .leaders-section_title, .valuables-section_title {
    font-family: $pragmaticaB;
    font-size: 64px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 55px;

    @media screen and(max-width: 768px) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .valuables-section_title {
    margin-bottom: 40px;

    @media screen and(max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  .about-section_desc-wrap, .valuables-section_desc-wrap {
    font-family: $pragmaticaL;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 65px;

    @media screen and(max-width: 768px) {
      font-size: 14px;
      margin-bottom: 22px;
    }
  }

  .about-section_desc, .leaders-section_desc {
    margin-bottom: 40px;
    max-width: 615px;
    line-height: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and(max-width: 768px){
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  .about-section_img {
    max-height: 600px;
    border-radius: 16px;
    overflow: hidden;

    @media screen and(max-width: 768px) {
      max-height: 180px;
      border-radius: 8px;
    }
  }

  .leaders-section {
    padding: 60px 0px 125px;

    @media screen and(max-width: 768px) {
      padding:15px 0 33px;
    }
  }

  .leaders-section_subtitle {
    max-width: 574px;
    font-family: $pragmaticalEX;
    font-size: 24px;
    line-height: 36px;

    @media screen and(max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }

  .leaders-section_desc {
    max-width: 574px;

    @media screen and(max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .leaders-section_info {
    &:first-child {
      transform: translateY(-160px);
    }

    @media screen and(max-width: 768px) {
      &:first-child {
        transform: unset;
        margin-bottom: 33px;
      }
    }
  }

  .leaders-section_info-img {
    max-height: 760px;
    border-radius: 16px;
    margin-bottom: 30px;

    @media screen and(max-width: 768px) {
      border-radius: 8px;
      margin-bottom: 20px;
      max-height: 457px;
    }
  }

  .leader-info {
    max-width: 574px;
  }

  .leader-content {
    max-width: 450px;
  }


  .leader-name {
    font-family: $pragmaticaB;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 15px;

    @media screen and(max-width: 768px) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .leader-desc {
    margin-bottom: 25px;
    font-family: $pragmaticaL;
    font-size: 16px;
    line-height: 26px;

    @media screen and(max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  .leader-tagline {
    font-family: $pragmaticalEX;
    font-style: italic;
    font-size: 16px;
    line-height: 26px;

    @media screen and(max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .valuables-section {
    padding: 40px 0px 105px;

    @media screen and(max-width: 768px) {
      padding:15px 0 33px;
    }
  }

  .valuables-section_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and(max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .valuables-section_info {
    margin-top: 110px;
    padding-right: 20px;
    max-width: 668px;
    width: 100%;
   
    @media screen and(max-width: 991px) {
      margin-top: 0;
    }
  }

  .valuables-section_name {
    font-size: 24px;
    line-height: 36px;
    color: $greyHover;
    margin-bottom: 24px;
    font-family: $pragmaticaMEX;

    @media screen and(max-width: 768px){
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  .valuables-section_desc {
    font-family: $pragmaticaL;
    font-size: 16px;
    line-height: 26px;

    @media screen and(max-width: 768px){
      font-size: 14px;
    }
  }

  .valuables-section_preview {
    max-width: 574px;
    width: 100%;
    @media screen and(max-width: 991px) {
      max-width: 100%;
    }
  }

  .valuables-section_img {
    max-height: 760px;
    border-radius: 16px;

    @media screen and(max-width: 991px) {
      border-radius: 8px;
      max-height: 457px;
    }
  }

  .services-about {
    padding: 120px 0px 170px;

    @media screen and(max-width: 768px) {
      padding: 40px 0px 35px;
    }
  }

  .about-section_title.text-center {
    @media screen and(max-width: 768px){
      margin-bottom: 0;
    }
  }


}