extends includes/layout
include mixins/services
include mixins/slider

block vars
    - const title = 'Merais / About'
    - const services = [{number: '01',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '02',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '03',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '04',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '05',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '06',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'}]
    - const slides = [{img: '/images/slide1.jpg'},{img: '/images/slide2.jpeg'},{img: '/images/slide1.jpg'}]
append header
    include includes/header

append menu
    include includes/menu

append content
    main#about-page
        .page-path_wrap(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true")
            .container.d-flex
                a.path-link(href="/") Главная
                span /
                .path-current_page О компании
        section.about-section
            .container
                .about-section_title(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="200" data-aos-once="true") Над подход
                .row.about-section_desc-wrap
                    .col-12.col-lg-6
                        .about-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="400" data-aos-once="true") У нас сложился разнообразный опыт: от деревообрабатывающей промышленности до пищевых продуктов. Бывало такое, что  клиент неправильно выполнил гост по дровам и мы нашли тех, кто их расколет, чтобы ускорить процесс, ведь клиенту были важны сроки и удешевление логистики.
                        .about-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="600" data-aos-once="true") Так же есть опыт в урегулировании страховых случаев различной тяжести, общей аварии в мореходстве. Мы помогаем с тем за что обычно юристы берут деньги. Хотя есть случаи, где сопровождение нужно именно от юристов.
                        .about-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="800" data-aos-once="true") В нашем рынке легко попасть на различные простои и мы понимаем, что это первое на чем надо экономить. По этому мы берём на себя сопровождение клиентов в вопросах скидок, урегулирования и связанных с этим проблем.
                    .col-12.col-lg-6
                        .about-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1000" data-aos-once="true") А ведь кажется что там подали контейнер, загрузили, сдали его в порт и он отчалил на экспорт. На самом деле за этой работой стоит много ответственности и сопровождения.
                        .about-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1200" data-aos-once="true") Начиная от того, что груз нужно доставить в порт в целости и сохранности, ведь по дороге бывает всякое, как минимум различные схемы по краже. Экономия в этом не деле не равно надежность, но мало кто из клиентов об этом думает.
                        .about-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1400" data-aos-once="true") Когда это жд, нужно на каждой станции «толкать» вагоны, так как судно не будет ждать пока груз довезут в порт. Потом может возникнуть демередж и это удорожит логистику. Найти место на судне, пройти портовые причуды, чтобы своевременно отгрузить груз, чтобы в итоге конечный получатель его получил.
                .about-section_img
                    img(src="/images/slide1.jpg" data-aos="clipRight" data-aos-duration="600" data-aos-delay="1600" data-aos-once="true")
        //- section.leaders-section
        //-     .container
        //-         .row.leaders-section_content
        //-             .col-12.col-lg-6
        //-                 .leaders-section_title(data-aos="clipTop" data-aos-duration="600" data-aos-once="true") Руководители
        //-                 .leaders-section_subtitle(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="200" data-aos-once="true") Мы открылись в 2013 году. <br> Два учредителя - Анна и Мария.
        //-             .col-12.col-lg-6.d-flex.flex-column.align-items-end
        //-                 .leaders-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="400" data-aos-once="true") На тот момент у Марии был опыт в работе с клиентами, в том время как Анна - финансовый профессионал. Соединив экспертизу в итоге образовался хороший тандем - семейный бизнес стратега и тактика.
        //-                 .leaders-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="600" data-aos-once="true") У нас очень высокие требования и стандарты в первую очередь к себе, что и транслируется в бизнес. Мы не приходим к клиентам со словом «невозможно», мы ищем варианты как выполнить задачу.
        //-                 .leaders-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="800" data-aos-once="true") Мы работаем быстро, так как понимаем что если наши клиенты в условиях жесткой конкуренции сегодня не продадут, завтра мы не повезем. Мы вовлекаемся в работу с клиентом по всей цепочке и тесно взаимодействуем по каждой его сделке.
        //-         .row.leaders-section_info-wrap
        //-             .col-12.col-lg-6.leaders-section_info
        //-                 .leader-info
        //-                     img(src="/images/leader1.png" data-aos="offsetTop" data-aos-duration="600" data-aos-once="true").leaders-section_info-img
        //-                     .leader-content
        //-                         .leader-name(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true") Анна
        //-                         .leader-desc(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true") На тот момент у Марии был опыт в работе с клиентами, в том время как Анна - финансовый профессионал. Соединив экспертизу в итоге образовался хороший тандем - семейный бизнес стратега и тактика.
        //-                         .leader-tagline(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true") © «Мы вовлекаемся в работу с клиентом по всей цепочке и тесно работаем по каждой его сделке.»
        //-             .col-12.col-lg-6.leaders-section_info.d-flex.flex-column.align-items-end
        //-                 .leader-info
        //-                     img(src="/images/leader2.png" data-aos="offsetTop" data-aos-duration="400" data-aos-once="true").leaders-section_info-img
        //-                     .leader-content
        //-                         .leader-name(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true") Мария
        //-                         .leader-desc(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true") На тот момент у Марии был опыт в работе с клиентами, в том время как Анна - финансовый профессионал. Соединив экспертизу в итоге образовался хороший тандем - семейный бизнес стратега и тактика.
        //-                         .leader-tagline(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true") © «Мы вовлекаемся в работу с клиентом по всей цепочке и тесно работаем по каждой его сделке.»
        section.valuables-section
            .container
                .valuables-section_inner
                    .valuables-section_info
                        .valuables-section_title(data-aos="clipTop" data-aos-duration="600" data-aos-once="true") Цінності
                        .valuables-section_content
                            .valuables-section_name(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="200" data-aos-once="true") Керівників Merais
                            .valuables-section_desc-wrap
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="400" data-aos-once="true") • Основний наш актив – наша команда. Ми допомагаємо у розкритті їхнього потенціалу, підтримуємо бажання наших працівників  навчатися та розвиватися.
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="600" data-aos-once="true") • Соціальна відповідальність - ми намагаємося підтримувати та розвивати благодатне середовище для нашого персоналу всередині компанії, а також розвиваємо екологічне середовище для наших партнерів та клієнтів, побудоване на взаємній повазі кордонів та інклюзивності кожного.
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="800" data-aos-once="true") • Порядність, чесність та висока клієнтоорієнтованість
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1000" data-aos-once="true") • Завжди приходити до партнерів із варіантами вирішення їхніх проблем, кожен партнер знаходить відгук на свій запит.
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1200" data-aos-once="true") • Стійкість до стресових ситуацій.
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1400" data-aos-once="true") • Ми дотримуємося всіх застосованих законів і правил у країнах, де ми працюємо.
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1600" data-aos-once="true") • Глибоке знання специфіки галузі, якісне виконання поставлених завдань у конкретні терміни
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1800" data-aos-once="true") • При прийнятті кожного рішення ми прагнемо оцінити ризики та переваги для компанії, що допомагає нам створювати основу для стабільного зростання бізнесу та забезпечувати актуальність наших ідей та рішень сьогодні та в майбутньому.
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="2000" data-aos-once="true") • Ми чуємо наших клієнтів та намагаємося зрозуміти їх. А це є ключем до згоди та плідної співпраці.
                                .valuables-section_desc(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="2200" data-aos-once="true") • Ми ставимося до партнерів, клієнтів та персоналу так, як хотіли б, щоб вони ставилися до нас. Довіра – це основа у наших відносинах.
                    .valuables-section_preview
                        img(src="/images/leader2.png" data-aos="clipRight" data-aos-duration="600" data-aos-delay="1600" data-aos-once="true").valuables-section_img
        section.about-slider_section
            .container
                +slides(slides)
        section.services-about
            .container
                .about-section_title.text-center(data-aos="clipTop" data-aos-duration="600" data-aos-once="true") Услуги
                +services(services)
append footer
    include includes/footer
