extends includes/layout

block vars
    - const title = 'Merais / Contacts'


append header
    include includes/header

append menu
    include includes/menu

append content
    main#main-contacts
        section.contacts-section
            .container
                .row
                    .col-12.col-lg-6
                        .page-path_wrap(data-aos="offsetTop" data-aos-duration="600"  data-aos-once="true")
                            .container.d-flex
                                a.path-link(href="/") Главная
                                span /
                                .path-current_page Контакты
                        .contacts-wrap
                            .contacts-title
                                div(data-aos="clipTop" data-aos-duration="1200" data-aos-delay="200"  data-aos-once="true") Контакты
                            .phones-wrap
                                .phones-title(data-aos="offsetTop" data-aos-duration="600"  data-aos-delay="600" data-aos-once="true") Телефон
                                a.phone(href="tel: +380961234567" data-aos="offsetTop" data-aos-duration="600"  data-aos-delay="800" data-aos-once="true")
                                    img.svg(src="/images/icons/phone.svg")
                                    span +38 (096) 123 45 67
                                a.phone(href="tel: +380961234567" data-aos="offsetTop" data-aos-duration="600"  data-aos-delay="1000" data-aos-once="true")
                                    img.svg(src="/images/icons/phone.svg")
                                    span +38 (096) 123 45 67
                            .mail-wrap
                                .mail-title(data-aos="offsetTop" data-aos-duration="600"  data-aos-delay="1200" data-aos-once="true") Почта
                                a.mail(href="mailto: merias_contact@gmail.com" data-aos="offsetTop" data-aos-duration="600"  data-aos-delay="1400" data-aos-once="true")
                                    img.svg(src="/images/icons/mail.svg")
                                    span merias_contact@gmail.com
                            .adress-wrap
                                .adress-title(data-aos="offsetTop" data-aos-duration="600"  data-aos-delay="1600" data-aos-once="true") Адрес
                                a.adress(href="" data-aos="offsetTop" data-aos-duration="600"  data-aos-delay="1800" data-aos-once="true")
                                    img.svg(src="/images/icons/location.svg")
                                    span Odessa, 4641 Briana Center
            .contacts-map_wrap(data-aos="clipDown" data-aos-duration="1000"  data-aos-delay="2000" data-aos-once="true")
                #contact-map.contacts-map(data-aos="offsetDown" data-aos-duration="1000"  data-aos-delay="2200" data-aos-once="true")

append footer
    include includes/footer