extends includes/layout
include mixins/services
include mixins/slider

block vars
    - const title = 'Merais'
    - const services = [{number: '01',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '02',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '03',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '04',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '05',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '06',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'}]
    - const slides = [{img: '/images/slide2.jpeg'},{img: '/images/slide1.jpg'},{img: '/images/slide3.jpg'}]
append header
    include includes/header

append menu
    include includes/menu

append content
    main#main-page
        section.slider-section(data-aos="clipRight" data-aos-duration="1250" data-aos-once="true" data-aos-delay="150")
            .main-page_slider-wrap
                .main-page_slider
                    .main-page_slide
                        .page-slide
                            img(src="/images/slide1.jpg" alt="slide" )
                        .container
                            .slider-section_content(data-aos="offsetRight" data-aos-duration="1250" data-aos-once="true" data-aos-delay="300")
                                h1.slider-section_title Выгодное транспортное решение для бизнеса
                                p.slider-section_desc Контейнерные перевозки, таможенное оформление, наземные перевозки (ЖД/авто), негабариты, консалтинговые услуги, доставка малых партий
                                a.slider-section_link(href="")
                                    span Узнать больше
                                    img.svg(src="/images/icons/arrow.svg")
                    .main-page_slide
                        .page-slide
                            img(src="/images/slide2.jpeg" alt="slide")
                        .container
                            .slider-section_content(data-aos="offsetRight" data-aos-duration="1250" data-aos-once="true" data-aos-delay="300")
                                h1.slider-section_title Выгодное транспортное решение для бизнеса
                                p.slider-section_desc Контейнерные перевозки, таможенное оформление, наземные перевозки (ЖД/авто), негабариты, консалтинговые услуги, доставка малых партий
                                a.slider-section_link(href="")
                                    span Узнать больше
                                    img.svg(src="/images/icons/arrow.svg")
                    .main-page_slide
                        .page-slide
                            img(src="/images/slide3.jpg" alt="slide")
                        .container
                            .slider-section_content(data-aos="offsetRight" data-aos-duration="1250" data-aos-once="true" data-aos-delay="300")
                                h1.slider-section_title Выгодное транспортное решение для бизнеса
                                p.slider-section_desc Контейнерные перевозки, таможенное оформление, наземные перевозки (ЖД/авто), негабариты, консалтинговые услуги, доставка малых партий
                                a.slider-section_link(href="")
                                    span Узнать больше
                                    img.svg(src="/images/icons/arrow.svg")
                .slider-section_pag
                    .slider-pag_index
                        .slider-pag_current
                        span /
                        .slider-pag_all
                    .slider-pag_progress-wrap
                        .slider-pag_progress
                    .slider-arrows
                        .slider-arrow_prev-wrap
                            img.svg(src="/images/icons/arrow.svg")
                            img.svg(src="/images/icons/arrow.svg")
                        .slider-arrow_next-wrap
                            img.svg(src="/images/icons/arrow.svg")
                            img.svg(src="/images/icons/arrow.svg")
            .slider-section_scroll-img
                img.svg(src="/images/icons/scroll.svg")
                span Скролл
        section.about-section
            .container
                .about-section_name(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true") О компании
                .about-section_content-wrap
                    .about-section_content1
                        .about-section_title(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="200") Merais group - современная логистическая компания с полным циклом услуг, а так же надеждный партнёр
                        .about-section_description
                            span(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="400" data-aos-offset="0") Merais group - надежная компания, которой доверяют лидеры рынка. Мы знаем, как важно для клиента вовремя получать продукт, поэтому довели до совершенства каждый этап.
                            span(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="600" data-aos-offset="0") Работаем оперативно, качественно и уверенно с соблюдением сроков. Гарантируем прозрачность сотрудничества и консультирование клиентов в удобное время. Решаем вопросы, связанные с доставкой. Заказчик занимается производственными процессами и повышением продаж.
                        a.about-section_link(href="" data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="800" data-aos-offset="0")
                            span Подробнее
                            img.svg(src="/images/icons/arrow.svg")
                    .about-section_content2
                        .about-section_description
                            span(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="200") Профессионалы в логистической отрасли
                            span(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="400") Продуманная логистика – это успешное развитие любой производственной и торговой компании.
                            span(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="600") Мы совершенствуемся и идем в ногу со временем. Наши сотрудники повышают квалификацию на семинарах, тренингах, конференциях и курсах, а внутри компании проводятся круглые столы и мозговые штурмы.
                        a.about-section_link(href="" data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="800")
                            span Подробнее
                            img.svg(src="/images/icons/arrow.svg")
                        .about-section_statistic(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="800")
                            .statistic
                                span.statistic-year 7
                                span.statistic-desc Лет опыта
                            .statistic
                                span.statistic-year 15
                                span.statistic-desc Сотрудников
                            .statistic
                                span.statistic-year 6
                                span.statistic-desc Стран
                    .about-section_content3
                        .about-section_description
                            .point-wrap(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="200")
                                .svg-wrap
                                    img.svg(src="/images/icons/Rectangle.svg")
                                span Тщательно подобранные специалисты с опытом работы в сфере логистики
                            .point-wrap(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="400")
                                .svg-wrap
                                    img.svg(src="/images/icons/Rectangle.svg")
                                span Автоматизированные логистические процессы
                            .point-wrap(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="600")
                                .svg-wrap
                                    img.svg(src="/images/icons/Rectangle.svg")
                                span Современный автомобильный парк
                +slides(slides)
        section.services-section
            .container
                .services-section_title
                    div(data-aos="clipTop" data-aos-duration="1200" data-aos-once="true")  Услуги
                +services(services)
        section.information-section
            .container
                .information-wrap.row
                    .col-12.col-lg-6.information-img_wrap(data-aos="clipRight" data-aos-duration="600" data-aos-once="true")
                        img.information-img(src="/images/slide2.jpeg")
                    .col-12.col-lg-6.d-flex.align-items-center
                        .information-content
                            .information-title
                                div(data-aos="clipTop" data-aos-duration="1200" data-aos-once="true") Наш клиент
                            .information-description(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="400") Стоит отметить, что есть компании, у которых могут быть стандартные отгрузки по одному маршруту, скорее всего это не наш клиент. Мы ориентированы на тех, кто возит по разным направлениям, кому нужен широкий спектр услуг. Наш план не вырасти гигнатми и стать номер один, а построить небольшую компанию, где люди смогут развиваться и работать, а не устраивать «крысиные бега» между продажниками. При этом клиенты обращаясь к нам будут понимать, что они интегрируют к себе в компанию штат профессионалов, которые направлены на поиск решения и результата для их бизнеса. Основной поток клиентов заходит к нам по рекомендации и остаются на года.
                .information-wrap.row
                    .col-12.col-lg-6.d-flex.align-items-center.information-content_wrap
                        .information-content
                            .information-title
                                div(data-aos="clipTop" data-aos-duration="1200" data-aos-once="true") Люди
                            .information-description(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="400") Мы - это о людях, ведь компания - это люди с которыми мы работаем. У нас схожие ценности: любить дело, которым занимаешься; любить своих клиентов;   помнить о человеческом отношении, помимо количественных показателей. Так же мы относимся и к партнерам - уважительно, ведь мы не верим, что можно построить отношение к клиентам на любви, когда сидишь к ним спиной. Для нас компания это не просто работа, для нас это наша жизнь.
                    .col-12.col-lg-6.information-img_wrap.d-flex.justify-content-end(data-aos="clipLeft" data-aos-duration="600" data-aos-once="true" data-aos-delay="400")
                        img.information-img(src="/images/slide2.jpeg")
                .information-wrap.row
                    .col-12.col-lg-6.information-img_wrap(data-aos="clipRight" data-aos-duration="600" data-aos-once="true")
                        img.information-img(src="/images/slide2.jpeg")
                    .col-12.col-lg-6.d-flex.align-items-center
                        .information-content
                            .information-title
                                div(data-aos="clipTop" data-aos-duration="1200" data-aos-once="true")  Конкуренция
                            .information-description(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true" data-aos-delay="400") Мы постоянно меняемся, чтобы выдержать конкуренцию и сферы деятельности в условиях постоянного давления со стороны органов и плохой работы цепи поставок. Нужно уметь адаптироваться и быть способным к изменениям - это одна из причин почему мы не хотим строить большой штат. Чем ты меньше - тем быстрее ты реагируешь на изменения и быстрее адаптируешься. Благодаря этому мы обеспечиваем для клиента бесперебойность сервиса. Сейчас нет стабильности, каждый день ты анализируешь позиции рынка и исходя из этого предлагаешь клиенту план действий. Мы в постоянном поиске формы, которая будет соответствовать нынешним условиям.
append footer
    include includes/footer
