extends includes/layout
include mixins/services

block vars
    - const title = 'Merais / Service'
    - const services = [{number: '01',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '02',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '03',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '04',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '05',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'}]

append header
    include includes/header

append menu
    include includes/menu

append content
    main#main-service
        .page-path_wrap(data-aos="offsetTop" data-aos-duration="600"  data-aos-once="true")
            .container.d-flex
                a.path-link(href="/") Главная
                span /
                a.path-link(href="/") Услуги
                span /
                .path-current_page Контейнерные перевозки
        section.service-section
            .container
                .service-section_title
                    div(data-aos="clipTop" data-aos-duration="600" data-aos-delay="200"  data-aos-once="true") Контейнерные перевозки
                .row
                    .col-12.col-lg-6
                        .service-section_desc
                            span(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="400"  data-aos-once="true") У нас сложился разнообразный опыт: от деревообрабатывающей промышленности до пищевых продуктов. Бывало такое, что  клиент неправильно выполнил гост по дровам и мы нашли тех, кто их расколет, чтобы ускорить процесс, ведь клиенту были важны сроки и удешевление логистики.
                            span(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="600"  data-aos-once="true") Так же есть опыт в урегулировании страховых случаев различной тяжести, общей аварии в мореходстве. Мы помогаем с тем за что обычно юристы берут деньги. Хотя есть случаи, где сопровождение нужно именно от юристов.
                            span(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="800"  data-aos-once="true") В нашем рынке легко попасть на различные простои и мы понимаем, что это первое на чем надо экономить. По этому мы берём на себя сопровождение клиентов в вопросах скидок, урегулирования и связанных с этим проблем.
                        .service-section_statistic
                            .statistic(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1000"  data-aos-once="true")
                                span.statistic-year 7
                                span.statistic-desc Лет опыта
                            .statistic(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1200"  data-aos-once="true")
                                span.statistic-year 15
                                span.statistic-desc Сотрудников
                            .statistic(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="1400"  data-aos-once="true")
                                span.statistic-year 6
                                span.statistic-desc Стран
                    .col-12.col-lg-6
                        img.svg.service-section_img(data-aos="clipRight" data-aos-duration="1000" data-aos-delay="1600"  data-aos-once="true" src="/images/slide1.jpg")
        section.section-skills
            .container
                .row
                    .col-12.col-lg-4.skill(data-aos="offsetTop" data-aos-duration="600"  data-aos-once="true" data-aos-offset="100")
                        img.svg.skill-icon(src="/images/icons/flexibility.svg")
                        .skill-title Гибкость
                        .skill-description У нас сложился разнообразный опыт: от деревообрабатывающей промышленности до пищевых продуктов.
                    .col-12.col-lg-4.skill(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="200"  data-aos-once="true" data-aos-offset="100")
                        img.svg.skill-icon(src="/images/icons/speed.svg")
                        .skill-title Скорость
                        .skill-description Так же есть опыт в урегулировании страховых случаев различной тяжести, общей аварии в мореходстве.
                    .col-12.col-lg-4.skill(data-aos="offsetTop" data-aos-duration="600" data-aos-delay="400"  data-aos-once="true" data-aos-offset="100")
                        img.svg.skill-icon(src="/images/icons/shield.svg")
                        .skill-title Безопасность
                        .skill-description В нашем рынке легко попасть на различные простои и мы понимаем, что это первое на чем надо экономить.
        section.section-about_skill
            .container
                .about-skill_title
                    div(data-aos="clipTop" data-aos-duration="600" data-aos-delay="200"  data-aos-once="true") Детальнее о подходе
                .row
                    .col-12.col-lg-6
                        .about-skill_desc
                            span(data-aos="offsetTop" data-aos-duration="600"  data-aos-once="true") У нас сложился разнообразный опыт: от деревообрабатывающей промышленности до пищевых продуктов. Бывало такое, что  клиент неправильно выполнил гост по дровам и мы нашли тех, кто их расколет, чтобы ускорить процесс, ведь клиенту были важны сроки и удешевление логистики.
                            span(data-aos="offsetTop" data-aos-duration="600"  data-aos-once="true" data-aos-delay="200") Так же есть опыт в урегулировании страховых случаев различной тяжести, общей аварии в мореходстве. Мы помогаем с тем за что обычно юристы берут деньги. Хотя есть случаи, где сопровождение нужно именно от юристов.
                            span(data-aos="offsetTop" data-aos-duration="600"  data-aos-once="true" data-aos-delay="400")  В нашем рынке легко попасть на различные простои и мы понимаем, что это первое на чем надо экономить. По этому мы берём на себя сопровождение клиентов в вопросах скидок, урегулирования и связанных с этим проблем.
                    .col-12.col-lg-6
                        .about-skill_desc
                            span(data-aos="offsetTop" data-aos-duration="600"  data-aos-once="true" data-aos-delay="600")  А ведь кажется что там подали контейнер, загрузили, сдали его в порт и он отчалил на экспорт. На самом деле за этой работой стоит много ответственности и сопровождения.
                            span(data-aos="offsetTop" data-aos-duration="600"  data-aos-once="true" data-aos-delay="800")  Начиная от того, что груз нужно доставить в порт в целости и сохранности, ведь по дороге бывает всякое, как минимум различные схемы по краже. Экономия в этом не деле не равно надежность, но мало кто из клиентов об этом думает.
                            span(data-aos="offsetTop" data-aos-duration="600"  data-aos-once="true" data-aos-delay="1000")  Когда это жд, нужно на каждой станции «толкать» вагоны, так как судно не будет ждать пока груз довезут в порт. Потом может возникнуть демередж и это удорожит логистику. Найти место на судне, пройти портовые причуды, чтобы своевременно отгрузить груз, чтобы в итоге конечный получатель его получил.
                    .col-12
                        img.about-skill_img(data-aos="clipRight" data-aos-duration="600" data-aos-delay="1200"  data-aos-once="true" src="/images/slide1.jpg")
        section.another-services_section
            .container
                .another-services_title
                    div(data-aos="clipTop" data-aos-duration="600" data-aos-delay="200"  data-aos-once="true") Другие услуги
                +services(services)
append footer
    include includes/footer