extends includes/layout
include mixins/services

block vars
    - const title = 'Merais / Services'
    - const services = [{number: '01',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '02',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '03',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '04',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '05',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'},{number: '06',img: '/images/icons/service.svg', title: 'Контейнерные перевозки', description: 'A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research.'}]

append header
    include includes/header

append menu
    include includes/menu

append content
    main#services-page
        .page-path_wrap(data-aos="offsetTop" data-aos-duration="600" data-aos-once="true")
            .container.d-flex
                a.path-link(href="/") Главная
                span /
                .path-current_page Услуги
        section.services-section
            .container
                .services-section_title(data-aos="offsetTop" data-aos-duration="1200" data-aos-once="true" data-aos-delay="200") Услуги
                +services(services)

append footer
    include includes/footer
