.section-404 {
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	&_inner {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.error_context {
		.title {
			font-family: $pragmaticaB;
			font-size: 64px;
			line-height: 72px;
			color: $greyHover;
			margin-bottom: 18px;
		}
		.text {
			font-size: 14px;
			line-height: 18px;
			color: $greyHover;
			margin-bottom: 18px;
		}
		.links_container a {
			span:first-child {
				font-size: 16px;
				line-height: 26px;
				background: linear-gradient(96.78deg, #EB8900 0.49%, #F1A600 27.14%, #F5B800 50.6%, #F6BE00 67.5%, #F6B900 74.86%, #F5AD00 96.64%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				text-fill-color: transparent;
				background-clip: text;
				margin-right: 8px;
			}
			span svg {
				width: 7px;
				height: 12px;
			}
		}
	}

	@media screen and(max-width: 768px){
    .error_context {
			.title {
				font-size: 24px;
				line-height: 32px;
			}
		}
  }

}