#main-contacts {
  height: 1075px;
  padding-top: 174px;

  @media screen and(max-width: 768px) {
    padding-top: 94px;
    height: auto;
  }

  .contacts-section {
    position: relative;
    height: 100%;
  }

  .contacts-wrap {
    display: flex;
    flex-direction: column;

    @media screen and(max-width: 768px) {
      padding: 0 15px 30px;
    }
  }

  .page-path_wrap {
    margin-bottom: 203px;
    padding-top: 10px;

    @media screen and(max-width: 768px) {
      margin-bottom: 10px;
      padding-top: 0;
    }
  }

  .contacts-title {
    font-family: $pragmaticaB;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 50px;

    @media screen and(max-width: 768px) {
      font-size: 24px;
      margin-bottom: 30px;
      line-height: 32px;
    }
  }

  .phones-wrap,.mail-wrap, .adress-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    @media screen and(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .adress-wrap {
    margin-bottom: 0;
  }

  .phones-title,  .mail-title,   .adress-title {
    font-family: $pragmaticaB;
    font-size: 18px;
    margin-bottom: 15px;
  }


  .phone, .adress, .mail {
    font-family: $pragmaticaL;
    font-size: 16px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    img, svg {
      margin-right: 10px;
      height: 24px;
      width: auto;
    }

    @media screen and(max-width: 768px) {
      font-size: 14px;
      img,svg {
        height: 20px;
      }
    }

  }

  .contacts-map_wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 50%;

    @media screen and(max-width: 768px) {
      position: static;
      width: auto;
      height: 300px;
    }
  }

  .contacts-map {
    height: 100%;
  }

}