#main-page {
  min-height: 100vh;

  .slider-section {
    height: 100vh;
    position: relative;

    .container {
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 2;

      @media screen and(max-width: 1024px) {
        padding: 0 60px;
      }

      @media screen and(max-width: 768px) {
        padding: 0 15px;
      }

    }

    @media screen and(max-width: 1024px){
      height: 70vh;
    }

    @media screen and(max-width: 768px) {
      height: 100vh;
      padding-top: 64px;
    }

  }

  .main-page_slider-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .main-page_slider {
    width: 100%;
    height: 100%;
  }

  .page-slide {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      z-index: 1;
      opacity: .4;
    }
  }

  .slider-section_scroll-img {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 60px 50px;
    z-index: 2;
    top: 93%;
    display: flex;
    align-items: center;

    img,svg {
      margin-right: 9px;
    }

    span {
      color: #fff;
      font-family: $pragmaticaL;
      font-size: 16px;
      font-weight: 200;
    }

    @media screen and(max-width: 768px) {
      display: none;
    }
  }

  .slider-section_pag {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 592px;
    height: 120px;
    border-radius: 16px 0 0;
    background-color: #f6f6f5;
    z-index: 5;

    @media screen and(max-width: 768px) {
      height: 64px;
      width: 100%;
      border-radius: 16px 16px 0 0;
      padding: 20px 15px;
      justify-content: space-between;
    }
  }

  .slider-arrows {
    display: flex;
    align-items: center;
  }

  .slider-arrow_prev-wrap {
    svg, img {
      transform: scale(-1);
    }
    margin-right: 40px;

    &:hover {
      svg:last-child ,img:last-child {
        transform: scale(-1) translateX(8px);
        transition: all $cubic .3s;
      }
    }

    @media screen and (max-width: 768px){
      margin-right: 30px;
    }

  }

  .slider-arrow_next-wrap {
    &:hover {
      svg:last-child ,img:last-child {
        transform:  translateX(8px);
        transition: all $cubic .3s;
      }
    }
  }

  .slider-arrow_prev-wrap, .slider-arrow_next-wrap {
    position: relative;
    cursor: pointer;

    svg,img {
      transition: all $cubic .3s;
    }

    svg:last-child, img:last-child {
      position: absolute;
      left: 0;
    }

    @media screen and(max-width: 768px) {
      height: 20px;
      svg,img {
        height: 100%;
      }
    }
  }

  .slider-pag_index {
    display: flex;
    align-items: center;
    font-family: $pragmaticaB;
    font-size: 24px;

    @media screen and(max-width: 768px) {
      font-size: 18px;
    }
  }

  .slider-pag_current {
    transition: opacity $cubic .5s;
  }

  .slider-pag_progress-wrap {
    width: 276px;
    height: 2px;
    background-color: #cdcdcc;
    margin: 0 40px;

    @media screen and(max-width: 768px) {
      margin: 0;
      width: 55%;
    }
  }

  .slider-pag_progress {
    background-color: $main;
    height: 2px;
    transition: all $cubic 1s;
  }

  .container {
    max-width: 1310px;
    padding: 0;
    margin: 0 auto;
    position: relative;
  }

  .slider-section_content {
    margin-top: 70px;

    @media screen and(max-width: 768px) {
      margin-top: 0;
    }
  }


  .slider-section_title {
    color: #fff;
    font-family: $pragmaticaB;
    font-size: 64px;
    line-height: 72px;
    max-width: 923px;
    margin-bottom: 40px;

    @media screen and(max-width: 1024px) {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 30px;
    }

    @media screen and(max-width: 768px) {
      font-size: 32px;
      line-height: 40px;
    }

  }

  .slider-section_desc {
    max-width: 542px;
    color: #fff;
    font-family: $pragmaticaL;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 47px;

    @media screen and(max-width: 1024px) {
      margin-bottom: 37px;
    }

    @media screen and(max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 29px;
    }
  }


  //ABOUT

  .about-section {
    padding-top: 120px;
    
    @media screen and(max-width: 768px) {
      padding: 30px 15px 20px;
    }

    .container {
      max-width: 1310px;
      margin: 0 auto;
    }

    .about-section_content-wrap {
      display: flex;
      margin-bottom: 60px;

      .about-section_content1, .about-section_content2 {
        margin-right: 40px;
      }
      @media screen and(max-width: 1150px) {
        flex-wrap: wrap;
        margin-bottom: 30px;
      }
      
      @media screen and(max-width: 576px) {
        .about-section_content1, .about-section_content2 {
          margin-right: 0;
        }  
      }
    }

    .about-section_name {
      color: #a4a4a3;
      font-family: $pragmaticaMEX;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 26px;
      text-transform: uppercase;
      margin-bottom: 20px;

      @media screen and(max-width: 768px) {
        font-size: 12px;
        letter-spacing: 2px;
      }
    }

    .about-section_title {
      max-width: 528px;
      font-family: $pragmaticaB;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 45px;

      @media screen and(max-width: 768px) {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 22px;
      }
    }

    .about-section_content1 {
      .about-section_description {
        margin-bottom: 55px;

        @media screen and(max-width: 768px) {
          margin-bottom: 17px;
        }
      }

      .about-section_link {
        display: block;
      }

      @media screen and(max-width: 1150px) {
        .about-section_link {
          display: none;
        }
      }

    }

    .about-section_content2 {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      width: 100%;
      .about-section_description {
        margin-bottom: 40px;
        @media screen and (max-width: 1150px){
          margin-bottom: 17px;
        }
      }

      .about-section_link {
        display: none;
        margin-bottom: 25px;
      }

      @media screen and(max-width: 1150px) {
        .about-section_link {
          display: block;
        }

        margin-bottom: 30px;
      }
    }

    .about-section_content3 {
      .about-section_description {
        max-width: 255px;

        @media screen and(max-width: 768px) {
          max-width: unset;
        }
      }
    }

    .about-section_description {
      font-family: $pragmaticaL;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 35px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      @media screen and(max-width: 768px) {
        font-size: 14px;
        line-height: 20px;

        span {
          margin-bottom: 22px;
        }
      }

    }

    .about-section_statistic {
      margin-top: auto;

      @media screen and(max-width: 768px){
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .point-wrap {
      display: flex;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }

      svg,img {
        width: 12px;
        height: 12px;
      }

      .svg-wrap {
        margin-right: 20px;
        @media screen and(max-width: 768px) {
          margin-right: 15px;
        }
      }

      @media screen and(max-width: 768px) {
        margin-bottom: 22px;
      }

    }

    .about-section_statistic {
      display: flex;
    }

    .statistic {
      display: flex;
      flex-direction: column;
      width: min-content;
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
      color: #121212;

      @media screen and(max-width: 768px){
        margin-right: 0;
      }
    }

    .statistic-year {
      background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $pragmaticaL;
      font-size: 48px;
      margin-bottom: 9px;
    }

    .statistic-desc {
      font-family: $pragmaticaL;
      font-size: 16px;

      @media screen and(max-width: 768px){
        font-size: 14px;
      }
    }

  }

  .information-section {
    padding-top: 120px;
    padding-bottom: 170px;

    @media screen and(max-width: 768px) {
      padding-top: 0;
      padding-bottom: 77px;
    }

    .container {
      max-width: 1580px;

      @media screen and(max-width: 768px) {
        padding: 0 15px;
      }
    }

    .information-content_wrap {
      @media screen and(max-width: 768px) {
        order: 1;
      }
    }

    .information-wrap {
      margin-bottom: 120px;

      @media screen and(max-width: 768px){
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(2) {
        .information-content {
          padding-left: 145px;
        }

        .information-img_wrap {
          margin-right: 0;
        }
      }
    }

    .information-img_wrap {
      @media screen and(max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    .information-content {
      padding-left: 0px;
    }

    .information-img {
      border-radius: 16px;
      max-width: 720px;
      margin-right: 20px;

      @media screen and (max-width: 768px){
        margin: 0;
        border-radius: 8px;
      }
    }

    .information-content {
      @media screen and (max-width: 768px){
        padding: 0 !important;
      }
    }

    .information-title {
      font-family: $pragmaticaB;
      font-size: 48px;
      line-height: 72px;
      margin-bottom: 23px;

      @media screen and(max-width: 768px) {
        font-size: 24px;
        line-height: 1;
      }
    }

    .information-description {
      max-width: 615px;
      font-family: $pragmaticaL;
      font-size: 16px;
      line-height: 26px;

      @media screen and(max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
      }
    }

  }

}

.slider-section_link, .about-section_link, .service_link {
  cursor: pointer;
  display: flex;
  align-items: center;

  svg,img {
    transition: all $cubic .3s;
  }

  span {
    color: #0065f2;
    background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $pragmaticaL;
    font-size: 20px;
    line-height: 26px;
    margin-right: 20px;
  }

  &:hover {
    svg,img {
      transform: translateX(10px);
      transition: all $cubic .3s;
    }
  }


}

.slider-section_link, .about-section_link {
  @media screen and(max-width: 768px) {
    font-size: 18px;
    line-height: 26px;

    span {
      margin-right: 15px;
    }

    svg, img {
      height: 16px;
    }
  }

}
