#services-page {

  padding-top: 145px;
  min-height: 100vh;
  padding-bottom: 130px;

  @media screen and(max-width: 768px){
    padding-top: 94px;
    padding-bottom: 37px;
  }

  .container {
    max-width: 1310px;
  }

  .services-section_title {
    text-align: left;
    font-size: 64px;
    margin-bottom: 55px;

    @media screen and(max-width: 768px){
      font-size: 24px;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .services-section {
    padding-top: 0;
  }



}