#main-service {
  padding-top: 140px;
  min-height: 100vh;

  @media screen and(max-width: 768px){
    padding-top: 94px;
  }

  .container {
    max-width: 1310px;

    @media screen and(max-width: 768px) {
      padding: 0 15px;
    }
  }

  .service-section {
    padding-bottom: 100px;

    @media screen and(max-width: 768px) {
      padding-bottom: 40px;
    }
  }

  .service-section_title {
    font-family: $pragmaticaB;
    font-size: 64px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 55px;

    @media screen and(max-width: 768px) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .service-section_desc {
    max-width: 615px;
    font-family: $pragmaticaL;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;

    span {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and(max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 17px;

      span {
        margin-bottom: 22px;
      }
    }
  }

  .service-section_statistic {
    display: flex;
    @media screen and(max-width: 768px) {
      justify-content: space-between;
      margin-bottom: 25px;
    }
  }

  .statistic {
    display: flex;
    flex-direction: column;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
    color: #121212;

    @media screen and(max-width: 768px){
      margin-right: 0;
    }

    @media screen and(max-width: 576px){
      width: min-content;
    }
  }

  .statistic-year {
    background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $pragmaticaL;
    font-size: 48px;
    margin-bottom: 9px;

    @media screen and(max-width: 576px){
      font-size: 40px;
    }
  }

  .statistic-desc {
    font-family: $pragmaticaL;
    font-size: 16px;

    @media screen and(max-width: 768px){
      font-size: 14px;
    }

    @media screen and(max-width: 576px){
      font-size: 12px;
    }
  }

  .service-section_img {
    border-radius: 16px;

    @media screen and(max-width: 768px) {
      border-radius: 8px;
    }
  }

  .section-skills {
    background-image: linear-gradient(97deg,#eb8900,#f1a600 28%,#f5b800 52%,#f6be00 70%,#f6b900 77%,#f5ad00);
    padding: 120px 0px;

    @media screen and(max-width: 768px) {
      padding: 40px 0px;
    }
  }

  .skill {
    @media screen and(max-width: 768px) {
      margin-bottom: 37px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .skill-icon {
    height: 54px;
    width: auto;
    margin-bottom: 30px;

    @media screen and(max-width: 768px) {
      height: 48px;
      margin-bottom: 15px;
    }
  }

  .skill-title {
    color: #fff;
    font-family: $pragmaticaB;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 15px;

    @media screen and(max-width: 768px) {
      font-size: 24px;
      margin-bottom: 13px;
    }
  }

  .skill-description {
    max-width: 404px;
    color: #fff;
    font-family: $pragmaticaL;
    font-size: 16px;
    line-height: 26px;

    @media screen and(max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .section-about_skill {
    padding: 120px 0px 60px;

    @media screen and(max-width: 768px) {
      padding: 30px 0px 20px;
    }
  }

  .about-skill_title {
    font-family: $pragmaticaB;
    font-size: 64px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 55px;

    @media screen and(max-width: 768px) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .about-skill_desc {
    max-width: 615px;
    font-family: $pragmaticaL;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;

    span {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and(max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 22px;
      span {
        margin-bottom: 22px;
      }
    }
  }

  .about-skill_img {
    max-height: 740px;
    border-radius: 16px;

    @media screen and(max-width: 768px) {
      border-radius: 8px;
    }
  }

  .another-services_title {
    font-family: $pragmaticaB;
    font-size: 48px;
    margin-bottom: 45px;
    text-align: center;

    @media screen and(max-width: 768px) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  .another-services_section {
    padding: 60px 0px 170px;
    @media screen and(max-width: 768px) {
      padding: 20px 0px 35px;
    }
  }

}