body {
  font-family: $pragmaticaL;
  color: $main;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

html,body {
  &.active {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  background-color: #f9f9f9;
}

main {
  background-color: #f6f6f5;
  margin-left: 100px;
  width: calc(100% - 100px);

  @media screen and(max-width: 768px){
    margin-left: 0;
    width: 100%;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  padding: 0;
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  background-color: unset;
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  transition: all $cubic .7s;
  pointer-events: none;
  z-index: 91;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


  &.active {
    opacity: 1;
    visibility: visible;
    transition: all $cubic .7s;
    pointer-events: all;
  }

}


.slick-slider, .slick-list, .slick-track{
  height: 100%;
}

.page-path_wrap {
  font-family: $pragmaticaL;
  font-size: 16px;
  margin-bottom: 45px;

  .container {
    padding: 0 !important;
  }

  span {
    margin: 0 15px;
    color: $grey;
  }

  @media screen and(max-width: 768px) {
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.path-current_page {
  color: $grey;
}

.services-section_title, .information-title, .service-section_title, .about-skill_title , .another-services_title, .contacts-title{
  overflow: hidden;
  line-height: 1.3 !important;
}