header {
  position: fixed;
  margin-left: 100px;
  width: calc(100% - 100px);
  z-index: 90;
  transition: height $cubic .6s, background-color $cubic .6s;
  will-change: height;
  height: 145px;
  display: flex;
  align-items: center;


  @media screen and(max-width: 768px) {
    width: 100%;
    margin-left: 0;
    height: 64px;
    display: none;
  }

  .container {
    animation: offsetHeader 12s $cubic;
  }

  &.other-page {

    .header-phone {
      background: unset;
      background-clip: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: $main;
    }

    .selected-language {
      background: unset;
      background-clip: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: $main;
    }
  }

  &.active {
    background-color: #fff;
    transition: height $cubic .6s, background-color $cubic .6s;
    height: 80px;
    will-change: height;

    .header-logo2 {
      display: block;
      transition: all $cubic .3s;
    }
    .header-logo {
      display: none;
      transition: all $cubic .3s;
    }

    .header-phone {
      background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: #0065f2;
      -webkit-text-fill-color: transparent;
    }

    .selected-language {
      background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: #0065f2;
      -webkit-text-fill-color: transparent;
    }

  }


  .header-logo {
    transition: all $cubic .3s;
  }

  .header-logo2 {
    display: none;
    transition: all $cubic .3s;

    &.active {
      display: block;
    }
  }

  .container {
    max-width: 1920px;
    padding: 0 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .header-phone {
    margin-left: auto;
    color: #fff;
    font-size: 16px;
    font-family: $pragmaticaL;
    margin-right: 40px;
    transition: all $cubic .3s;
    -webkit-text-fill-color: #fff;

    &:hover {
      background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: #0065f2;
      -webkit-text-fill-color: transparent;
      transition: all $cubic .3s;
    }

    img,svg {
      display: none;
    }

    @media screen and(max-width: 1024px){
      span {
        display: none;
      }
      img,svg {
        display: block;
      }
    }

    @media screen and(max-width: 768px) {
      display: none;
    }
  }

  .header-btn {
    width: 214px;
    height: 54px;
    font-family: $pragmaticaM;
    font-size: 16px;
    color: #fff;
    background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
    border-radius: 27px;
    margin-right: 40px;
    position: relative;

    &:before {
      content: "";
      width: 214px;
      height: 54px;
      border-radius: 27px;
      background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
      opacity: 0.4;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      transition: all $cubic .3s;
    }

    &:hover {
      &:before {
        transform: translate(-8px, 8px);
        transition: all $cubic .3s;
      }
    }

    @media screen and(max-width: 768px) {
      display: none;
    }

  }



}