
.language-toggler {
  font-family: $pragmaticaL;
  font-size: 16px;
  position: relative;
}

.aside-menu {
  .language-toggler {
    display: none;

    @media screen and(max-width: 768px) {
      display: flex;
      align-items: center;
      margin-right: 30px;
      margin-left: auto;
    }
  }
}

.selected-language {
  color: #fff;
  cursor: pointer;
  transition: all $cubic .3s;
  -webkit-text-fill-color: #fff;

  @media screen and(max-width: 768px){
    -webkit-text-fill-color: $main;
    margin-right: 8px;
  }

  &:hover {
    background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #0065f2;
    -webkit-text-fill-color: transparent;
    transition: all $cubic .3s;
  }

}

.language-menu {
  position: absolute;
  top: 0;
  flex-direction: column;
  padding: 19px 16px;
  background-color: #fff;
  transform: translate(-16px, -19px);
  display: none;

  &.active {
    display: flex;
  }

  .language-item {
    cursor: pointer;
    padding: 15px 0;

    &.active {
      background: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
      background-clip: text;
      color: #0065f2;
      font-family: $pragmaticaL;
      font-size: 16px;
      text-transform: uppercase;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: table;
    }

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}