.aside-menu {
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  padding: 45px 0px 50px;
  background-color: #fff;
  display: flex;
  animation: clipDown 1.25s cubic-bezier(.81,0,.3,1);
  transition-property: clip-path;

  @media screen and(max-width: 768px) {
    height: 64px;
    padding: 0px 15px;
    width: 100%;
  }


  &.active {

      clip-path: unset;

    .menu-content {
      pointer-events: all;
      clip-path: inset(0 0 0 0);
      transition: all $cubic .7s;
    }

    .menu-nav_menu-toggle {

      svg {
        .point, .point2, .point3 {
          transition: all $cubic .3s;
          transform: translateY(40%);
        }

        .point7, .point8, .point9 {
          transition: all $cubic .3s;
          transform: translateY(-40%);
        }

      }
    }

  }

  .menu-nav_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;

    @media screen and(max-width: 768px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .aside-menu_logo {
    display: none;

    @media screen and(max-width: 768px) {
      width: 149px;
      display: block;
    }
  }


  .menu-logo {
    @media screen and(max-width: 768px) {
      display: none;
    }
  }

  .menu-nav_menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $pragmaticalEX;
    font-size: 12px;
    cursor: pointer;

    img, svg {
      width: 25px;
      height: 24px;
    }

    svg {
      .point, .point2, .point3, .point7, .point8, .point9 {
        transition: all $cubic .3s;
      }
    }

    img, svg {
      margin-bottom: 10px;
    }

    img, svg, span {
      pointer-events: none;
    }

    @media screen and(min-width: 1024px) {
      &:hover {
        svg {

          .point, .point3, .point7, .point9 {
            transition: all $cubic .3s;
          }

          .point, .point3 {
            transform: translateY(40%);
          }

          .point7, .point9 {
            transform: translateY(-40%);
          }

        }
      }
    }



    @media screen and(max-width: 768px) {
      flex-direction: row;
      img,svg {
        margin-bottom: 0;
        margin-right: 10px;
        width: 18px;
      }

      span {
        font-size: 12px;
      }
    }

  }

  .menu-nav_snetworks {
    transform: rotate(-90deg);
    padding-left: 45px;
    font-family: $pragmaticalEX;
    font-size: 16px;
    width: 100px;

    @media screen and(max-width: 768px) {
      display: none;
    }
  }

  .menu-nav_snetwork {
    margin-right: 40px;
    color: $grey;
    transition: all ease-in-out .3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $greyHover;
      transition: all ease-in-out .3s;
    }
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 50px 50px 40px;
    pointer-events: none;
    position: absolute;
    left: 100px;
    height: 100%;
    background-color: #fff;
    top: 0;
    clip-path: inset(0 100% 0 0);
    transition: all $cubic .7s;

    @media screen and(max-width: 768px) {
      height: 100vh;
      left: 0;
      clip-path: inset(0 0 100% 0);
      justify-content: center;
      padding: 65px 15px 25px;
      width: 100%;
    }
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    padding-right: 50px;

    @media screen and(max-width: 768px) {
      order: 1;
      margin-bottom: 70px;
    }
  }

  .menu_item {
    margin-bottom: 40px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and(min-width: 1025px) {
      &:hover {
        .menu-hoisting_photo {
          display: block;
        }
      }
    }

    @media screen  and(max-width: 768px){
      margin-bottom: 20px;
    }

  }

  .menu_item, .menu_item2 {
    font-size: 24px;
    font-family: $pragmaticaB;
    white-space: nowrap;
    width: fit-content;

    &.active {
      color: $greyActive;
    }

    @media screen and(max-width: 768px) {
      font-size: 16px;
    }
  }

  .menu2-items {
    display: flex;
    justify-content: space-between;

    @media screen and(max-width: 768px) {
      margin-bottom: 30px;
      justify-content: unset;

      & a:first-child {
        margin-right: 40px;
      }
    }
  }

  .menu-hoisting_photo {
    position: fixed;
    z-index: 10;
    display: none;
    width: 223px;
    height: 160px;
  }

  .menu-contacts {
    order: 2;

    display: none;

    @media screen and(max-width: 768px) {
      display: block;
    }

    .menu-nav_snetworks {

      @media screen and(max-width: 768px) {
        display: flex;
        transform: unset;
        padding-left: 0;
        width: auto;
        margin: 20px 0px 30px;
        font-size: 14px;
      }
    }

    .header-phone {
      @media screen and(max-width: 768px) {
        font-size: 14px;
      }
    }

  }

  .header-btn {
    width: 214px;
    height: 54px;
    font-family: $pragmaticaM;
    font-size: 16px;
    color: #fff;
    background-image: linear-gradient(97deg, #eb8900 0%, #f1a600 28%, #f5b800 52%, #f6be00 70%, #f6b900 77%, #f5ad00 100%);
    border-radius: 27px;
    margin-right: 40px;
    position: relative;
  }

}
