.services-section {
  padding-top: 120px;

  @media screen and(max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .container {
    @media screen and(max-width: 768px) {
      padding: 0 15px !important;
    }
  }

}



.services-section_title {
  text-align: center;
  margin-bottom: 45px;
  font-family: $pragmaticaB;
  font-size: 48px;

  @media screen and(max-width: 768px) {
    margin-bottom: 0px;
    font-size: 24px;
  }
}

.services-wrap {
  margin: 0;
}

.animated {

  .service {
    &:nth-child(1), &:nth-child(2) {
      &:before {
        opacity: 1;
        transition: opacity .6s 1.2s;
      }
    }

    &:nth-child(4), &:nth-child(5) {
      &:before {
        opacity: 1;
        transition: opacity .6s 1.2s;
      }
    }

    &:nth-child(3), &:nth-child(2), &:nth-child(1) {
      &:after {
        opacity: 1;
        transition: opacity .6s 1s;
      }
    }
  }
}

.service {
  padding: 40px;
  position: relative;

  &:nth-child(1),&:nth-child(2),&:nth-child(4), &:nth-child(5) {
    &:before {
      content: "";
      height: 100%;
      width: 1px;
      background-color: #e0e0e0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }

  &:nth-child(3), &:nth-child(2), &:nth-child(1)  {
    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: #e0e0e0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }

  
  @media screen and(max-width: 768px) {
    padding: 40px 0px 33px;
    border-bottom: 1px solid #e0e0e0 !important;
    border-right: unset;

    &:after, &:before {
      display: none;
    }

    &:first-child {
      padding-top: 30px;
    }

    &:last-child {
      border-bottom: unset !important;
    }
  }
  
}

.service-number {
  position: absolute;
  right: 40px;
  top: 40px;
  color: #c2c2c2;
  font-family: $pragmaticalEX;
  font-size: 16px;

  @media screen and(max-width: 768px) {
    font-size: 14px;
    right: 0;
    top: 45px;
  }
}

.service-icon {
  margin-bottom: 30px;
  height: 48px;
  width: auto;
  
  @media screen and(max-width: 768px) {
    height: 32px;
    margin-bottom: 33px;
  }
}

.service-content {
  margin-bottom: 15px;
}

.service-title {
  font-family: $pragmaticaB;
  font-size: 18px;
  margin-bottom: 15px;

  @media screen and(max-width: 768px) {
    font-size: 16px;
  }
}

.service-description {
  font-family: $pragmaticaL;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  @media screen and(max-width: 768px){
    line-height: 20px;
  }
}

.service_link {
  line-height: 26px;
  
  span {
    font-size: 16px !important;
    margin-right: 10px !important;
  }

  img,svg {
    width: 7px;
    height: 15px;
  }

  @media screen and(max-width: 768px) {
    span {
      font-size: 16px !important;
      line-height: 26px !important;
    }
  }
  
}

