.about-section_slider-wrap {
  border-radius: 16px;
  overflow: hidden;
  max-height: 740px;
  position: relative;
  height: 48vw;

  @media screen and(max-width: 768px) {
    border-radius: 8px;
  }
}

.about-section_slider-pag {
  position: absolute;
  bottom: 30px;
  right: 40px;
  display: flex;
  align-items: center;

  @media screen and(max-width: 768px) {
    bottom: 15px;
    right: 20px;
  }
}

.slider-pag_dots {
  margin: 0px 30px;

  @media screen and(max-width: 768px){
    margin: 0px 20px;
  }

  .slick-dots {
    display: flex;

    li {
      margin-right: 20px;
      opacity: .4;

      &.slick-active {
        opacity: 1;
      }

      &:last-child {
        margin-right: 0;
      }

      @media screen and(max-width: 768px) {
        display: flex;
      }
    }

    button {
      width: 8px;
      height: 8px;
      background-color: #fff;
      padding: 0;
      border-radius: 1px;

      @media screen and(max-width: 768px) {
        height: 6px;
        width: 6px;
      }
    }

  }
}

.slider-pag_prev-wrap {
  position: relative;
  cursor: pointer;
  svg,img {
    transform: scale(-1);
    transition: all $cubic .3s;
  }

  svg,img {
    &:last-child {
      position: absolute;
      left: 0;
    }
  }

  @media screen and(min-width: 1024px) {
    &:hover {
      svg,img {
        &:last-child {
          transform: scale(-1) translateX(8px);
          transition: all $cubic .3s;
        }
      }
    }
  }

}

.slider-pag_next-wrap {
  position: relative;
  cursor: pointer;

  svg,img {
    transition: all $cubic .3s;
  }

  svg,img {
    &:last-child {
      position: absolute;
      left: 0;
    }
  }

  @media screen and (min-width: 1024px){
    &:hover {
      svg,img {
        &:last-child {
          transform:  translateX(8px);
          transition: all $cubic .3s;
        }
      }
    }
  }

}

.slider-pag_next-wrap, .slider-pag_prev-wrap {
  img,svg {
    @media screen and(max-width: 768px) {
      height: 16px;
    }
  }
}

.about-section_slide {
  border-radius: 16px;
  overflow: hidden;
  @media screen  and(max-width: 768px){
    border-radius: 8px;
  }
}