@charset "UTF-8";
$lg-to: 1199;
$lg-from: $lg-to + 1;
$md-to: 991;
$md-from: $md-to + 1;
$sm-to: 767;
$sm-from: $sm-to + 1;
$xs-to: 575;
$xs-from: $xs-to + 1;

#adminButtonEdit {
  position: fixed;
  right: 20px;
  bottom: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.white {
  color: white;
}

.bg-gradient {
  background: linear-gradient(to right, #000ead 0%, #90035e 100%);
}

.hr {
  height: 1px;
  @extend .bg-gradient;
}

.hr2 {
  height: 2px;
  @extend .bg-gradient;
}

.img-float-space {
  margin-right: 10px;
  margin-bottom: 10px;

  &.m20 {
    margin-top: 20px;
    margin-right: 20px;
  }
}

.check-styled {
  display: inline-block;
  width: 80px;
  height: 26px;
  background: #333;
  margin: 2px auto;
  position: relative;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);

  &:after {
    content: 'Нет';
    color: #fff;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
  }

  &:before {
    content: 'Да';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }

  &.en {
    &:before {
      content: 'Yes';
    }

    &:after {
      content: 'No';
    }
  }

  &.ru {
    &:before {
      content: 'Да';
    }

    &:after {
      content: 'Нет';
    }
  }

  &.uk {
    &:before {
      content: 'Так';
    }

    &:after {
      content: 'Нi';
    }
  }

  label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #f4eeee;
    //background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 1px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  }

  input[type=checkbox] {
    visibility: hidden;

    &:checked + label {
      left: 43px;
    }
  }
}

.no-radius {
  border-radius: 0;
}

.main-content {
  min-height: 600px;
}

.db {
  display: block;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

//BOOTSTRAP
.table.table-unbordered {
  border: 0;

  & > tbody tr {
    border: 0;

    & > td {
      border: 0;
    }
  }
}

.abs-both-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-wide {
  padding-left: 3rem;
  padding-right: 3rem;
}

.lh-1 {
  line-height: 1;
}

.vam {
  vertical-align: middle;
}

.vab {
  vertical-align: bottom;
}

.vat {
  vertical-align: top;
}

.scalable:hover {
  transform: scale(1.1);
}

.transition-all {
  transition: all .2s linear;
}

.text-decorated {
  text-decoration: underline;
}

.text-decorated-hover:hover {
  text-decoration: underline;
}

.draggable .handle {
  cursor: pointer;

  i {
    pointer-events: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.img-thumbnail-30 {
	max-width: 30px;
}
.img-thumbnail-40 {
	max-width: 40px;
}
