@font-face {
  font-family: 'Pragmatica Bold';
  src: local('Pragmatica Extended Bold'), local('Pragmatica-Extended-Bold'),
  url('/fonts/PragmaticaExtended-Bold/PragmaticaExtended-Bold.woff2') format('woff2'),
  url('/fonts/PragmaticaExtended-Bold/PragmaticaExtended-Bold.woff') format('woff'),
  url('/fonts/PragmaticaExtended-Bold/PragmaticaExtended-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica Medium';
  src: local('Pragmatica Medium'), local('Pragmatica-Medium'),
  url('/fonts/Pragmatica-Medium/Pragmatica-Medium.woff2') format('woff2'),
  url('/fonts/Pragmatica-Medium/Pragmatica-Medium.woff') format('woff'),
  url('/fonts/Pragmatica-Medium/Pragmatica-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica Light';
  src: local('Pragmatica Light'), local('Pragmatica-Light'),
  url('/fonts/Pragmatica-Light/Pragmatica-Light.woff2') format('woff2'),
  url('/fonts/Pragmatica-Light/Pragmatica-Light.woff') format('woff'),
  url('/fonts/Pragmatica-Light/Pragmatica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica Light Ex';
  src: local('Pragmatica Extended Light'), local('Pragmatica-Extended-Light'),
  url('/fonts/PragmaticaExtended-Light/PragmaticaExtended-Light.woff2') format('woff2'),
  url('/fonts/PragmaticaExtended-Light/PragmaticaExtended-Light.woff') format('woff'),
  url('/fonts/PragmaticaExtended-Light/PragmaticaExtended-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pragmatica Medium Ex';
  src: local('Pragmatica Extended Book'), local('Pragmatica-Extended-Book'),
  url('/fonts/PragmaticaExtended-Book/PragmaticaExtended-Book.woff2') format('woff2'),
  url('/fonts/PragmaticaExtended-Book/PragmaticaExtended-Book.woff') format('woff'),
  url('/fonts/PragmaticaExtended-Book/PragmaticaExtended-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}